.about-us {
  display: flex;
  align-items: flex-start;
  padding-bottom: 10px;
  @include point(def-down){
    flex-direction: column;
  }
  &__form-wrap {
    min-width: 300px;
    max-width: 300px;
    background: #69B500;
    border-radius: 10px;
    padding: 50px 20px 15px;
    @include point(def-down){
      min-width: 100%;
      max-width: 100%;
    }
    .title {
      text-align: center;
      font-weight: bold;
      font-size: 25px;
      line-height: 120%;
      color: #FFFFFF;
      margin-bottom: 30px;
      font-family: $font-family;
    }
    form {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
    .validation-field {
      min-width: calc(100% - 60px);
      max-width: calc(100% - 60px);
    }
    .submit {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background: #fff;
      position: relative;
      cursor: pointer;
      &:hover {
        background: $green-2;
        &:after {
          background-image: url("../img/sprite.svg#right-arrow-w");
        }
      }
      &.disable {
        background: #939393;
        &:after {
          background-image: url("../img/sprite.svg#right-arrow-w");
        }
      }
      &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 17px;
        height: 17px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../img/sprite.svg#right-arrow");
      }
      input {
        display: none;
      }
    }
  }
  &__description-wrap {
    min-width: calc(100% - 320px);
    max-width: calc(100% - 320px);
    @include point(def-down){
      min-width: 100%;
      max-width: 100%;
      margin-bottom: 20px;
    }

  }
}