.banner-wrap {
  padding-top: 10px;
}
.banner {
  margin-left: 267px;
  @include point(def-down){
    margin-left: 0;
  }
  img {
    width: 100%;
  }
}
.advantages {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 267px;
  @include point(lg-def){
    margin-top: 52px;
  }
  @include point(def-down){
    margin-left: 0;
    flex-wrap: wrap;
  }
  @include point(xl-def){
    flex-wrap: wrap;
  }
  &__item {
    min-width: 25%;
    max-width: 25%;
    display: flex;
    align-items: center;
    @include point(xl-def){
      min-width: 50%;
      max-width:50%;
      margin-bottom: 10px;
      padding-right: 10px;
    }
    @include point(lg-def){
      margin-bottom: 40px;
    }
    @include point(def-sm){
      min-width: 50%;
      max-width:50%;
      margin-bottom: 16px;
      padding-right: 20px;
    }
    @include point(sm-down){
      min-width: 100%;
      max-width: 100%;
      margin-bottom: 12px;
    }
  }
  &__item-img {
    margin-right: 20px;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
  }
  &__title {
    font-size: 14px;
    line-height: 120%;
    font-family: $font-family;
    color: #595959;
  }
}