.brands-slider, .brands-slider-small {
  .brand-item {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    color: #69B500;
    font-weight: bold;
    font-size: 14px;
    font-family: $font-family;
    img {
      max-width: 100%;
    }
  }
}
.brands-wrap {
  margin-bottom: 108px;
  @include point(md-down){
    margin-bottom: 50px;
  }
  .swiper-wrapper {
    align-items: stretch;
  }
  .swiper-slide {
    height: auto!important;
  }
}
.brands-slider-small {
  .swiper-wrapper {
    align-items: stretch;
  }
  .swiper-slide {
    height: auto!important;
  }
}