.cart-page-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  @include point(def-down){
    flex-direction: column;
  }
  .column {
    &:nth-child(1){
      min-width: calc(100% - 320px);
      max-width: calc(100% - 320px);
      @include point(def-down){
        min-width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
      }
    }
    &:nth-child(2){
      min-width: 300px;
      max-width: 300px;
      background: #F5F5F5;
      border-radius: 10px;
      padding: 30px 20px;
      text-align: center;
      @include point(def-down){
        min-width: 100%;
        max-width: 100%;
      }
    }
  }
  .order-preview-result__info {
    margin-bottom: 22px;
  }
  .order-preview-result__info-final {
    margin-bottom: 30px;
  }
  .button {
    margin-bottom: 30px;
    padding: 20px 40px 16px;
  }
  .order-info {
    font-size: 12px;
    line-height: 120%;
    color: #595959;
  }
  .cart-item {
    padding: 20px;
    border: 2px solid #F5F5F5;
    margin: 0;
    @include point(md-down){
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
      position: relative;
    }
    &__item-img {
      width: 100px;
      height: 100px;
      margin-right: 20px;
      @include point(lg-def){
        width: 60px;
        height: 60px;
      }
      @include point(md-down){
        margin: 0 0 10px 0;
      }
      img {
        width: 100%;
      }
    }
    &__top-info {
      font-size: 12px;
      line-height: 120%;
      color: #939393;
      margin-bottom: 18px;
      @include point(md-down){
        margin-bottom: 10px;
      }
    }
    &__info {
      width: 353px;
      @include point(xl-lg){
        width: 260px;
      }
      @include point(lg-def){
        width: 140px;
      }
      @include point(def-md){
        width: 190px;
      }
      @include point(md-down){
        margin-bottom: 10px;
        width: auto;
        flex-shrink: 1;
        flex-grow: 1;
        margin-right: 0;
      }
      &__title {
        font-size: 14px;
        line-height: 120%;
        text-decoration: underline;
        color: #282828;
        margin-bottom: 20px;
        &:hover {
          text-decoration: none;
        }
      }
      &__params {
        color: #4F4F4F;
        font-size: 12px;
      }
    }
    &__one-price {
      font-size: 12px;
      line-height: 100%;
      color: #595959;
      width: 100px;
      margin: 0 auto;
      text-align: center;
      @include point(md-down){
        margin-bottom: 10px;
        width: auto;
      }
      span {
        font-size: 14px;
        line-height: 100%;
        color: #595959;
        font-family: $font-family;
        font-weight: bold;
      }
    }
    &__count {
      margin: 0 auto;
      @include point(md-down){
        margin: 0 0 10px 0;
      }
    }
    &__price {
      font-size: 14px;
      color: #282828;
      margin: 0 auto;
      width: 110px;
      text-align: center;
      @include point(md-down){
        width: auto;
      }
      span {
        font-weight: bold;
        font-size: 20px;
        line-height: 100%;
        color: #282828;
        font-family: $font-family;
      }
    }
    &__remove {
      width: 24px;
      height: 24px;
      cursor: pointer;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("../img/sprite.svg#trash");
      background-size: 17px;
      @include point(md-down){
        position: absolute;
        right: 10px;
        top: 10px;
      }
      &:hover {
        background-image: url("../img/sprite.svg#trash-r");
      }
    }
  }
}
.cart-top-line {
  background: #F5F5F5;
  border-radius: 10px;
  padding: 10px 44px 10px 20px;
  display: flex;
  margin-bottom: 10px;
  @include point(def-down){
    display: none;
  }
  span {
    font-weight: bold;
    font-size: 14px;
    line-height: 120%;
    color: #595959;
    &:nth-child(1){
      margin-left: 120px;
      width: 353px;
      margin-right: 10px;
      @include point(xl-lg){
        width: 260px;
      }
      @include point(lg-def){
        margin-left: 80px;
        width: 140px;
      }
    }
    &:nth-child(2){
      margin: 0 auto;
      width: 100px;
      text-align: center;
    }
    &:nth-child(3){
      margin: 0 auto;
      width: 92px;
      text-align: center;
    }
    &:nth-child(4){
      margin: 0 auto;
      width: 110px;
      padding-left: 10px;
    }
  }
}