.sorting-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  @include point(md-down){
    flex-direction: column;
    align-items: center;
  }
}
.child-products {
  background: #F5F5F5;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include point(md-down){
    margin-bottom: 20px;
  }
  &__item-img {
    min-width: 38px;
    max-width: 38px;
    font-size: 0;
    img {
      width: 100%;
    }
  }
  &__info {
    margin-left: 22px;
  }
  &__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 120%;
    color: #282828;
    font-family: $font-family;
    margin-bottom: 7px;
    white-space: nowrap;
  }
  .hover-info__text {
    right: 0;
    transform: translateX(0);
  }
  &__add-link {
    font-size: 13px;
    line-height: 120%;
    color: #69B500;
    text-decoration: none;
    display: inline-block;
    padding-left: 17px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 12px;
      height: 12px;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("../img/sprite.svg#plus");
    }
    span {
      display: inline-block;
      margin-right: 10px;
    }
  }
}
.sorting {
  display: flex;
  align-items: center;
  &__title {
    font-size: 14px;
    line-height: 120%;
    color: #595959;
    margin-right: 10px;
    white-space: nowrap;
  }
  .validation-field {
    padding-bottom: 0;
    margin-bottom: 0;
    min-width: 210px;
    max-width: 210px;
  }
}
.selected {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  &__title {
    font-weight: bold;
    font-size: 18px;
    color: #69B500;
    font-family: $font-family;
    margin: 5px 19px 5px 0;
  }
  &__item {
    margin: 5px 5px 5px 0;
    border: 2px solid #F5F5F5;
    padding: 5px 33px 5px 12px;
    text-align: center;
    border-radius: 60px;
    font-weight: 500;
    font-size: 14px;
    color: #282828;
    cursor: pointer;
    background-position: calc(100% - 11px) center;
    background-repeat: no-repeat;
    background-image: url("../img/sprite.svg#close");
    background-size: 12px;
  }
  &__remove {
    margin: 5px 5px 5px 0;
    border: 2px solid transparent;
    padding: 5px 33px 5px 0;
    text-align: center;
    border-radius: 60px;
    font-weight: 500;
    font-size: 14px;
    color: #282828;
    cursor: pointer;
    background-position: calc(100% - 11px) center;
    background-repeat: no-repeat;
    background-image: url("../img/sprite.svg#close");
    background-size: 12px;
  }
}
.def-down-show {
  display: none;
  @include point(def-down){
    display: block;
  }
}
.def-down-hide {
  display: block;
  @include point(def-down){
    display: none;
  }
}
.filter-trigger {
  padding: 20px 40px 18px;
}
.range-slider {
  margin: 20px 0 10px;
  .slider {
    margin: 0 16px;
  }
  .slider-inputs-wrap {
    display: flex;
    align-items: center;
    border-radius: 60px;
    border: 2px solid #F5F5F5;
    padding: 10px 15px;
    margin-top: 30px;
    .label {
      font-size: 12px;
      line-height: 100%;
      color: #939393;
      margin-right: 4px;
    }
    input {
      margin-right: 10px;
      font-weight: 500;
      font-size: 14px;
      color: #282828;
      height: 21px;
      text-align: center;
      width: 45px;
      border: none;
      flex-grow: 1;
      font-family: $font-family-alt;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}