.catalog-filter-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 80px;
  @include point(def-down){
    flex-direction: column;
  }
  .catalog-filter {
    min-width: 252px;
    max-width: 252px;
    border: 1px solid #F5F5F5;
    border-radius: 10px;
    padding: 20px;
    @include point(def-down){
      min-width: 100%;
      max-width: 100%;
      margin-bottom: 20px;
      text-align: center;
    }
  }
  .catalog-wrap {
    min-width: calc(100% - 276px);
    max-width: calc(100% - 276px);
    @include point(def-down){
      min-width: 100%;
      max-width: 100%;
    }
  }
}
.sections-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  a {
    cursor: pointer;
  }
  .sections-item {
    margin: 0 10px 20px;
    border-radius: 8px;
    padding: 20px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    &__title {
      font-weight: bold;
      font-size: 30px;
      line-height: 120%;
      display: block;
      justify-content: center;
      margin-bottom: 15px;
      color: #FFFFFF;
      text-align: center;
      font-family: $font-family;
    }
    &.w-1 {
      min-width: calc(25% - 20px);
      max-width: calc(25% - 20px);
      @include point(lg-down){
        min-width: calc(50% - 20px);
        max-width: calc(50% - 20px);
      }
    }
    &.w-2 {
      min-width: calc(50% - 20px);
      max-width: calc(50% - 20px);
      @include point(lg-down){
        min-width: calc(100% - 20px);
        max-width: calc(100% - 20px);
      }
    }
    &.h-1 {
      min-height: 236px;
    }
    &.h-2 {
      min-height: 492px;
    }
    &__list {
      margin: 0;
      list-style: none;
      li {
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
        a {
          font-weight: 500;
          font-size: 16px;
          line-height: 120%;
          color: #FFFFFF;
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}
.brands-slider-small {
  margin: 40px 0 109px;
}
.sections-img-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: 10px;
  @include point(sm-down){
    flex-wrap: wrap;
  }
}
.sections-img-item {
  min-width: 22%;
  max-width: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include point(sm-down){
    min-width: 48%;
    max-width: 48%;
    margin-bottom: 20px;
  }
  &__item-img {
    text-align: center;
    height: 50px;
    margin-bottom: 26px;
  }
  &__title {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
    font-family: $font-family;
  }
}
