.catalog-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(300px, auto);
  margin-bottom: 108px;
  @include point(xl-def){
    grid-template-columns: repeat(3, 1fr);
  }
  @include point(def-md){
    grid-template-columns: repeat(2, 1fr);
  }
  @include point(md-down){
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 50px;
  }
  &__item {
    padding: 40px 30px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    overflow: hidden;
    position: relative;
    @include point(xl-def){
      padding: 25px 30px;
    }
    &__title {
      font-weight: bold;
      font-size: 35px;
      line-height: 120%;
      color: #FFFFFF;
      font-family: $font-family;
      position: relative;
      z-index: 1;
    }
    &__list {
      text-align: left;
      margin-top: 30px;
      position: relative;
      z-index: 1;
      list-style: none;
      li {
        margin-bottom: 15px;
        margin-left: 0;
        &:last-child {
          margin-bottom: 0;
        }
      }
      a {
        text-decoration: none;
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        color: #FFFFFF;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &:hover {
      .decor-1-1 {
        animation: decor-1-1 3s infinite cubic-bezier(.69,.16,.38,.9);
      }
      .decor-1-2 {
        animation: decor-1-2 3s infinite cubic-bezier(.69,.16,.38,.9);
        animation-delay: .2s;
      }
      .decor-2-2 {
        animation: decor-2 3s infinite cubic-bezier(.5,.31,.59,.81);
        animation-delay: .1s;
      }
      .decor-2-3 {
        animation: decor-2 3s infinite cubic-bezier(.5,.31,.59,.81);
        animation-delay: .2s;
      }
      .decor-2-4 {
        animation: decor-2 3s infinite cubic-bezier(.5,.31,.59,.81);
        animation-delay: .2s;
      }
      .decor-2-5 {
        animation: decor-2 3s infinite cubic-bezier(.5,.31,.59,.81);
        animation-delay: .2s;
      }
      .decor-2-6 {
        animation: decor-2 3s infinite cubic-bezier(.5,.31,.59,.81);
        animation-delay: .2s;
      }
      .decor-2-7 {
        animation: decor-2 3s infinite cubic-bezier(.5,.31,.59,.81);
        animation-delay: .2s;
      }
      .decor-3-1 {
        animation: decor-3 3s infinite cubic-bezier(.5,.31,.59,.81);
      }
      .decor-3-2 {
        animation: decor-3 3s infinite cubic-bezier(.5,.31,.59,.81);
        animation-delay: .2s;
      }
      .decor-3-3 {
        animation: decor-3-3 3s infinite cubic-bezier(.5,.31,.59,.81);
        animation-delay: .3s;
      }
      .decor-4-1 {
        animation: decor-4 3s infinite cubic-bezier(.5,.31,.59,.81);
      }
      .decor-5-2 {
        animation: decor-5-2 3s infinite cubic-bezier(.5,.31,.59,.81);
      }
      .decor-5-3 {
        animation: decor-5-3 3s infinite cubic-bezier(.5,.31,.59,.81);
      }
      .decor-6-1 {
        animation: decor-6-1 3s infinite linear;
      }
      .decor-7-1 {
        animation: decor-7-1 0.8s cubic-bezier(.5,.31,.59,.81) forwards;
      }
      .decor-7-4 {
        animation: decor-7-4 1.1s cubic-bezier(.5,.31,.59,.81) forwards;
      }
      .decor-7-5 {
        animation: decor-7-4 1.3s cubic-bezier(.5,.31,.59,.81) forwards;
      }
      .decor-7-6 {
        animation: decor-7-4 1.5s cubic-bezier(.5,.31,.59,.81) forwards;
      }
      .decor-8-1 {
        animation: decor-8 5s infinite linear;
      }
      .decor-8-2 {
        animation: decor-8 3s infinite linear;
        transition-delay: .3s;
      }
    }
  }
  .one {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-color: #0275D2;
  }
  .two {
    grid-column: 3/4;
    grid-row: 1/1;
    background-color: #79B534;
    @include point(def-md){
      grid-column: 1/2;
      grid-row: 4/4;
    }
    @include point(md-down){
      grid-column: 1/3;
      grid-row: 2/2;
    }
  }
  .three {
    grid-column: 4/4;
    grid-row: 1/3;
    background-color: #F9607C;
    @include point(xl-def){
      grid-column: 3/3;
      grid-row: 2/4;
    }
    @include point(def-md){
      grid-column: 2/3;
      grid-row: 6/4;
    }
    @include point(md-down){
      grid-column: 1/3;
      grid-row: 3/3;
    }
  }
  .four {
    grid-column: 1/1;
    grid-row: 2/4;
    background-color: #619FFB;
    @include point(md-down){
      grid-column: 1/3;
      grid-row: 4/4;
    }
  }
  .five {
    grid-column: 2/2;
    grid-row: 2/2;
    background-color: #AD56F2;
    @include point(md-down){
      grid-column: 1/3;
      grid-row: 5/5;
    }
  }
  .six {
    grid-column: 3/3;
    grid-row: 2/2;
    background-color: #F386C2;
    @include point(xl-def){
      grid-column: 1/1;
      grid-row: 4/4;
    }
    @include point(def-md){
      grid-column: 1/1;
      grid-row: 6/5;
    }
    @include point(md-down){
      grid-column: 1/3;
      grid-row: 6/6;
    }
  }
  .seven {
    grid-column: 2/2;
    grid-row: 3/3;
    background-color: #FFD21C;
    @include point(md-down){
      grid-column: 1/3;
      grid-row: 7/7;
    }
  }
  .eight {
    grid-column: 3/5;
    grid-row: 3/3;
    background-color: #1FA3DA;
    @include point(xl-def){
      grid-column: 2/4;
      grid-row: 4/4;
    }
    @include point(def-md){
      grid-column: 1/3;
      grid-row: 7/6;
    }
    @include point(md-down){
      grid-column: 1/3;
      grid-row: 8/8;
    }
  }
}
.decor-item {
  position: absolute;
  pointer-events: none;
  user-select: none;
  &.decor-1-1 {
    left: -60px;
    bottom: -83px;
    @include point(md-down){
      left: -49px;
      bottom: -52px;
      width: 200px;
    }
  }
  &.decor-1-2 {
    right: -22px;
    bottom: -27px;
    @include point(md-down){
      right: -13px;
      bottom: -22px;
      width: 228px;
    }
  }
  &.decor-2-1 {
    right: 4px;
    bottom: 0;
    transform-origin: center top;
  }
  &.decor-2-2 {
    right: 123px;
    bottom: 42px;
    transform-origin: center top;
  }
  &.decor-2-3 {
    right: 98px;
    bottom: 23px;
    transform-origin: center top;
  }
  &.decor-2-4 {
    right: 88px;
    bottom: 50px;
    transform-origin: center top;
  }
  &.decor-2-5 {
    right: 64px;
    bottom: 27px;
    transform-origin: center top;
  }
  &.decor-2-6 {
    right: 43px;
    bottom: 11px;
    transform-origin: center top;
  }
  &.decor-2-7 {
    right: 39px;
    bottom: 27px;
    transform-origin: center top;
  }
  &.decor-3-1 {
    left: -10px;
    bottom: 0;
    transform-origin: center center;
  }
  &.decor-3-2 {
    bottom: -29px;
    right: 81px;
    transform-origin: center center;
  }
  &.decor-3-3 {
    bottom: 50px;
    right: -46px;
    transform-origin: center center;
  }
  &.decor-4-1 {
    bottom: 29px;
    left: -46px;
    transform-origin: center center;
    @include point(md-down){
      bottom: 5px;
      left: -14px;
      width: 165px;
    }
  }
  &.decor-5-1 {
    bottom: 1px;
    right: 111px;
  }
  &.decor-5-2 {
    bottom: 72px;
    right: 50px;
    transform-origin: center center;
  }
  &.decor-5-3 {
    bottom: -9px;
    right: 203px;
  }
  &.decor-6-1 {
    bottom: 4px;
    left: 87px;
    transform-origin: center bottom;
    @include point(xl-lg){
      left: 116px;
    }
    @include point(md-sm){
      left: 138px;
    }
    @include point(sm-down){
      left: 104px;
    }
  }
  &.decor-7-1 {
    bottom: 0;
    left: 68px;
    animation: decor-7-1-back 0.8s cubic-bezier(.5,.31,.59,.81) forwards;
  }
  &.decor-7-2 {
    bottom: 0;
    left: 147px;
    z-index: 1;
  }
  &.decor-7-3 {
    bottom: 0;
    left: 59px;
    z-index: 1;
  }
  &.decor-7-4 {
    bottom: 84px;
    left: 136px;
    animation: decor-7-4-back 1.1s cubic-bezier(.5,.31,.59,.81) forwards;
    animation-delay: 1s;
  }
  &.decor-7-5 {
    bottom: 104px;
    left: 60px;
    animation: decor-7-4-back 1.3s cubic-bezier(.5,.31,.59,.81) forwards;
    animation-delay: .6s;
  }
  &.decor-7-6 {
    bottom: 104px;
    left: 212px;
    animation: decor-7-4-back 1.5s cubic-bezier(.5,.31,.59,.81) forwards;
    animation-delay: .3s;
  }
  &.decor-8-1 {
    bottom: 20px;
    right: 18px;
  }
  &.decor-8-2 {
    top: 117px;
    right: 33px;
  }
}
@keyframes decor-1-1 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes decor-1-2 {
  0% {
    transform: rotate(0deg) translateX(0);
  }
  50% {
    transform: rotate(-14deg) translateX(12px);
  }
  100% {
    transform: rotate(0deg) translateX(0);
  }
}
@keyframes decor-2 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes decor-3 {
  0% {
    transform: rotate(0deg) translateX(0);
  }
  50% {
    transform: rotate(-14deg) translateX(12px);
  }
  100% {
    transform: rotate(0deg) translateX(0);
  }
}
@keyframes decor-3-3 {
  0% {
    transform: rotate(0deg) translateY(0);
  }
  50% {
    transform: rotate(14deg) translateY(16px);
  }
  100% {
    transform: rotate(0deg) translateY(0);
  }
}
@keyframes decor-4 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(8deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes decor-5-2 {
  0% {
    transform: rotate(0deg) translateX(0);
  }
  33% {
    transform: rotate(-8deg) translateX(40px);
  }
  66% {
    transform: rotate(8deg) translateX(20px);
  }
  100% {
    transform: rotate(0deg) translateX(0);
  }
}
@keyframes decor-5-3 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
@keyframes decor-6-1 {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(8deg);
  }
  70% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes decor-7-1 {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes decor-7-1-back {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(30px);
    opacity: 0;
  }
}
@keyframes decor-7-4 {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes decor-7-4-back {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-30px);
    opacity: 0;
  }
}
@keyframes decor-8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}