.product-page-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 110px;
  @include point(def-down){
    flex-direction: column;
    margin-bottom: 60px;
  }
  .column {

    &:nth-child(1){
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      justify-content: space-between;
      min-width: calc(52% - 20px);
      max-width: calc(52% - 20px);
      @include point(def-down){
        min-width: 100%;
        max-width: 100%;
        margin-bottom: 40px;
      }
    }
    &:nth-child(2){
      min-width: calc(48% - 20px);
      max-width: calc(48% - 20px);
      @include point(def-down){
        min-width: 100%;
        max-width: 100%;
      }
    }
  }
  .gallery-thumbs {
    height: 460px;
    min-width: 112px;
    max-width: 112px;
    margin: 0;
    @include point(lg-def){
      height: 340px;
    }
    @include point(md-down){
      display: none;
    }
    .swiper-slide {
      cursor: pointer;
      border: 2px solid #F5F5F5;
      border-radius: 5px;
      transition: border-color .3s;
      position: relative;
      &-thumb-active {
        border-color: $green-1;
      }
      img {
        max-width: 100%;
        max-height: 100%;
        @include centering-transform;
      }
    }
  }
  .gallery-top {
    min-width: calc(100% - 126px);
    max-width: calc(100% - 126px);
    margin: 0;
    height: 460px;
    @include point(lg-def){
      height: 340px;
    }
    @include point(ms-down){
      height: 340px;
    }
    @include point(md-down){
      min-width: 100%;
      max-width: 100%;
    }
    .swiper-slide {
      position: relative;
      img {
        max-width: 100%;
        max-height: 100%;
        @include centering-transform;
      }
    }
    .item-type {
      right: unset;
      left: 0;
      top: 0;
      align-items: flex-start;
    }
  }
  .top-slider-wrap {
    min-width: calc(100% - 140px);
    max-width: calc(100% - 140px);
    margin: 74px auto 0;
    @include point(lg-down){
      min-width: 100%;
      max-width: 100%;
    }
    @include point(def-down){
      margin: 40px auto 0;
    }
  }
  .vendor-code {
    font-size: 14px;
    line-height: 120%;
    color: #595959;
  }
  .buttons-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    @include point(md-down){
      flex-direction: column;
    }
    .buy {
      margin-right: 20px;
      padding: 20px 60px 16px 90px;
      background-position: 64px 50%;
      background-size: 16px;
      background-repeat: no-repeat;
      background-image: url("../img/sprite.svg#cart-w");
      @include point(lg-def){
        padding: 20px 20px 16px 50px;
        background-position: 23px 50%;
      }
      @include point(md-down){
        margin-right: 0;
      }
    }
    .to-favorites {
      padding: 19px 30px 17px 58px;
      background-color: #FFFFFF;
      border: 1px solid #F2F2F2;
      color: #000000;
      background-position: 30px center;
      background-repeat: no-repeat;
      background-size: 18px;
      background-image: url("../img/sprite.svg#like-h");
      transition: color .3s, border-color .3s;
      @include point(md-down){
        order: -1;
        margin-bottom: 20px;
      }
      &:hover {
        border-color: $green-1;
        background-image: url("../img/sprite.svg#like");
        color: #595959;
      }
    }
  }
  .product-delivery-wrap {
    display: flex;
    margin-bottom: 40px;
    img {
      height: 34px;
      &:nth-child(1){
        margin-right: 40px;
      }
    }
  }
  .payment-stages-wrap {
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0;
    @include point(lg-down){
      flex-wrap: wrap;
    }
    .payment-stages-item {
      min-width: calc(25% - 5px);
      max-width: calc(25% - 5px);
      flex-direction: column;
      align-items: flex-start;
      margin: 0;
      @include point(lg-down){
        min-width: calc(50% - 5px);
        max-width: calc(50% - 5px);
        margin-bottom: 20px;
      }
      &__item-img {
        width: 100%;
        height: 34px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin:0 0 14px 0;
        img {
          max-height: 34px;
          max-width: 100%;
        }
      }
      &__title {
        font-weight: 500;
        line-height: 120%;
        margin: 0;
        color: #282828;
      }
    }
  }
}
.product-logo {
  max-width: 79px;
  max-height: 35px;
  margin-left: auto;
  display: block;
  margin-top: -85px;
  margin-bottom: 85px;
  @include point(def-down){
    margin-bottom: -35px;
    z-index: 3;
    position: relative;
    margin-top:0;
  }
}
.product-status {
  font-size: 14px;
  line-height: 120%;
  color: #00930F;
  padding: 7px 16px 6px;
  border: 1px solid #F5F5F5;
  border-radius: 20px;
}
.product-price {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  .old {
    font-size: 12px;
    line-height: 100%;
    color: #828282;
    margin-right: 20px;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 48%;
      width: 100%;
      height: 1px;
      background: #000000;
    }
    span {
      font-weight: bold;
      font-size: 20px;
      line-height: 100%;
      color: #828282;
      font-family: $font-family;
    }
  }
  .new {
    font-size: 14px;
    line-height: 100%;
    color: #F04137;
    span {
      font-weight: bold;
      font-size: 30px;
      line-height: 100%;
      color: #F04137;
      font-family: $font-family;
    }
  }
}
.product-params {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
  @include point(md-down){
    flex-direction: column;
  }
  &__column {
    &:nth-child(1){
      min-width: 40%;
      max-width: 40%;
      padding-right: 20px;
      border-right: 1px solid #F5F5F5;
      @include point(md-down){
        min-width: 100%;
        max-width: 100%;
        border-right: none;
        border-bottom: 1px solid #f5f5f5;
        padding-right: 0;
        padding-bottom: 20px;
      }
    }
    &:nth-child(2){
      min-width: 60%;
      max-width: 60%;
      padding-left: 20px;
      @include point(md-down){
        min-width: 100%;
        max-width: 100%;
        padding-left: 0;
        padding-top: 20px;
      }
    }
  }
  .params-item__title {
    display: inline-block;
    vertical-align: middle;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #4F4F4F;
    margin-bottom: 20px;
  }
  .size-info-link {
    margin-left: 18px;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 120%;
    color: #939393;
    font-family: $font-family;
    padding-left: 20px;
    text-decoration: none;
    position: relative;
    margin-bottom: 20px;
    &:hover {
      text-decoration: underline;
    }
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 15px;
      height: 13px;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("../img/sprite.svg#size");
    }
  }
}
.product-accordeon-wrap {
  padding: 10px 30px;
  background: #F5F5F5;
  border-radius: 10px;
  @include point(ms-down){
    padding: 0 15px;
  }
  .accordeon-item {
    margin-bottom: 0;
    border-top: 1px solid #939393;
    border-radius: 0;
    &:first-child {
      border: none;
    }
    &:last-child {
      .accordeon-item__content {
        padding: 0 0 20px 0;
        @include point(ms-down){
          padding: 0 0 15px 0;
        }
      }
    }
    &__content {
      padding: 0 20px 20px 20px;
      background: #F5F5F5;
      @include point(ms-down){
        padding: 0 5px 15px 5px;
      }
    }
    &__title {
      padding: 20px 30px 20px 0;
      font-size: 14px;
      &:after {
        right: 0;
      }
      &:before {
        right: 5px;
      }
    }
  }
  .characteristic-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    position: relative;
    &:last-child {
      margin-bottom: 0;
    }
    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 3px;
      width: 100%;
      height: 1px;
      border-top: 1px dotted #939393;
      opacity: 0.5;
    }
    &__title {
      font-weight: 500;
      font-size: 14px;
      line-height: 120%;
      color: #4F4F4F;
      background: #F5F5F5;
      position: relative;
      z-index: 1;
      padding-right: 2px;
    }
    &__value {
      font-weight: bold;
      font-size: 14px;
      line-height: 120%;
      color: #282828;
      background: #F5F5F5;
      position: relative;
      z-index: 1;
      font-family: $font-family;
      padding-left: 2px;
    }
  }
}