.contacts-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  @include point(def-down){
    flex-direction: column;
  }
  &__info {
    min-width: calc(33% - 20px);
    max-width: calc(33% - 20px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include point(def-down){
      min-width: 100%;
      max-width: 100%;
      margin-bottom: 30px;
    }
  }
  &__form {
    min-width: 66%;
    max-width: 66%;
    background: #F5F5F5;
    border-radius: 10px;
    padding: 57px 50px 50px;
    @include point(def-down){
      min-width: 100%;
      max-width: 100%;
      padding: 25px;
    }
  }
  .right-arrow {
    font-family: $font-family;
    display: inline-block;
    margin-bottom: 30px;
    font-weight: 700;
  }
  .phone-box {
    margin: 0 0 30px 0;
    .phone {
      font-size: 18px;
      line-height: 100%;
      color: #282828;
    }
    .callback {
      @extend .button;
      padding: 15px 25px 13px;
      text-transform: uppercase;
      margin-top: 30px;
    }
  }
}
.contact-item {
  font-weight: bold;
  font-size: 14px;
  line-height: 100%;
  color: #282828;
  font-family: $font-family;
  margin-bottom: 10px;
  text-decoration: none;
  &.big {
    font-size: 18px;
    margin-bottom: 16px;
  }
}
.contacts-form-wrap {
  display: flex;
  justify-content: space-between;
  @include point(def-down){
    flex-direction: column;
  }
  .column {
    &:nth-child(1) {
      min-width: calc(45% - 30px);
      max-width: calc(45% - 30px);
      @include point(def-down){
        min-width: 100%;
        max-width: 100%;
      }
    }
    &:nth-child(2) {
      min-width: 55%;
      max-width: 55%;
      @include point(def-down){
        min-width: 100%;
        max-width: 100%;
        order: -1;
      }
      .validation-field {
        width: 100%;
        height: calc(100% + 15px);
        @include point(def-down){
          height: 100%;
        }
        textarea {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .button {
    padding: 20px 20px 16px;
    width: 100%;
  }
}