.accordeon-item {
  border: 1px solid #F5F5F5;
  border-radius: 10px;
  margin-bottom: 10px;
  &__title {
    font-weight: bold;
    font-size: 25px;
    line-height: 120%;
    color: #282828;
    padding: 35px 60px 35px 40px;
    background: #F5F5F5;
    border-radius: 10px;
    font-family: $font-family;
    cursor: pointer;
    position: relative;
    @include point(def-down){
      padding: 20px 40px 20px 40px;
    }
    @include point(md-down){
      font-size: 18px;
      padding: 20px 40px 20px 20px;
    }
    &.open {
      &:before {
        opacity: 0;
      }
    }
    &:after {
      content: '';
      position: absolute;
      right: 40px;
      top: 50%;
      transform: translateY(-50%);
      width: 12px;
      height: 2px;
      background: #939393;
      @include point(md-down){
        right: 20px;
      }
    }
    &:before {
      content: '';
      position: absolute;
      right: 45px;
      top: 50%;
      transform: translateY(-50%);
      width: 2px;
      height: 12px;
      background: #939393;
      transition: opacity .3s;
      @include point(md-down){
        right: 25px;
      }
    }
  }
  &__content {
    padding: 30px 40px;
    background: #fff;
    @include point(md-down){
      padding: 20px 20px;
    }
  }
  .accordeon-content-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 120%;
    color: #939393;
    margin-bottom: 21px;
  }
  .right-arrow {
    margin: 0 0 26px 0;
    display: inline-block;
  }
  .accorderon-top-info {
    display: flex;
    align-items: center;
    margin-bottom: 43px;
    &__item-img {
      width: 236px;
      margin-right: 60px;
      @include point(md-down){
        width: 100px;
        margin-right: 10px;
      }
      img {
        width: 100%;
      }
    }
    ul {
      margin-bottom: 0;
    }
  }
}
.payment-stages-wrap {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  @include point(md-down){
    flex-direction: column;
    align-items: flex-start;
  }
}
.payment-stages-item {
  display: flex;
  align-items: center;
  margin-right: 43px;
  @include point(def-down){
    margin-right: 20px;
  }
  @include point(md-down){
    margin-bottom: 20px;
  }
  &__item-img {
    width: 40px;
    height: 34px;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
    margin-right: 26px;
    @include point(def-down){
      margin-right: 16px;
    }
    img {
      max-width: 100%;
    }
  }
  &__title {
    > span {
      display: inline-block;
      vertical-align: baseline;
    }
  }
}
.hover-info {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  cursor: pointer;
  &:hover {
    .hover-info__text {
      opacity: 1;
      //pointer-events: all;
    }
  }
  &__trigger {
    font-weight: 500;
    font-size: 11px;
    color: #FFFFFF;
    background: #69B500;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    text-align: center;
    line-height: 17px;
  }
  &__text {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    padding: 16px;
    background: #fff;
    border: 1px solid $grey;
    transition: opacity .3s;
    bottom: calc(100% + 5px);
    right: 5px;
    border-radius: 5px;
    width: 175px;
    z-index: 5;
    @include point(def-down){
      right: 50%;
      transform: translateX(50%);
    }
  }
}