footer {
  background-color: #fff;
  background-image: url("../img/img/footer-decor.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  .top-line {
    padding: 40px 0 80px;
    @include point(def-down){
      padding: 40px 0 30px;
    }
  }
  .bottom-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }

  .email {
    font-weight: bold;
    font-size: 18px;
    line-height: 100%;
    color: #282828;
    text-decoration: none;
    margin-bottom: 17px;
    font-family: $font-family;
  }
  .phone-box {
    margin: 0 0 30px 0;
    &__top-line {
      margin-bottom: 30px;
    }
    &__bottom-line {
      @include point(def-down){
        text-align: center;
      }
    }
    .phone {
      margin-top: 2px;
      font-size: 18px;
      line-height: 100%;
      color: #282828;
    }
    .callback {
      @extend .button;
      padding: 15px 22px 13px;
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase;
      color: #FFFFFF;
    }
  }
}
.footer-column-wrap {
  display: flex;
  align-items: flex-start;
}
.footer-column {
  width: 19%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 23px;
  @include point(def-down){
    display: none;
  }
  &:first-child {
    width: 24%;
    @include point(def-down){
      display: flex;
      align-items: center;
      width: 100%;
    }
  }
  &:last-child {
    .footer-nav {
      column-count: 2;
    }
  }
  &:first-child {
    padding-top: 0;
  }
  &__title {
    font-weight: bold;
    font-size: 16px;
    color: #69B500;
    margin-bottom: 30px;
    font-family: $font-family;
  }
}
.footer-logo {
  color: #69B500;
  font-weight: bold;
  font-size: 45px;
  font-family: $font-family;
  margin-bottom: 30px;
  text-decoration: none;
}
.copyright {
  font-size: 14px;
  color: #595959;
}
.footer-nav {
  width: 100%;
  list-style: none;
  li {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  a {
    font-size: 14px;
    line-height: 100%;
    color: #595959;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
.visa {
  margin-top: 75px;
}