.send-review-wrap {
  text-align: center;
  margin-bottom: 60px;
  position: relative;
  min-height: 243px;
  @include point(def-down){
    min-height: unset;
  }
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 223px;
    height: 243px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/img/guestbook.svg");
    @include point(xl-def){
      top: 58px;
      width: 157px;
      height: 174px;
      background-size: 100%;
    }
    @include point(def-down){
      display: none;
    }
  }
  &__title {
    font-weight: bold;
    font-size: 25px;
    line-height: 120%;
    color: #282828;
    font-family: $font-family;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
  }
  .button {
    position: relative;
    z-index: 1;
    text-transform: uppercase;
  }
}
.review {
  background: #F5F5F5;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 45px;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    width: 35px;
    height: 35px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/sprite.svg#quotes");
    right: 30px;
    bottom: -13px;
  }
  &__top-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  &__bottom-line {
    font-size: 18px;
    line-height: 140%;
    color: #595959;
  }
  .name {
    font-weight: bold;
    font-family: $font-family;
    font-size: 20px;
    line-height: 120%;
    color: #009F00;
  }
  .date {
    font-weight: bold;
    font-family: $font-family;
    font-size: 14px;
    color: #939393;
  }
}