.header {
  position: relative;
  z-index: 5;
  @include point(def-down){
    display: none;
  }
  &__top-line {
    background: #F5F5F5;
    padding: 14px 0;
    position: relative;
    z-index: 3;
  }
  &__middle-line {
    padding: 28px 0;
    position: relative;
    z-index: 2;
  }
  &__bottom-line {
    .container {
      align-items: flex-end;
      &:after {
        content: '';
        position: absolute;
        left: 282px;
        top: calc(100% - 1px);
        width: calc(100% - 311px);
        height: 1px;
        background: #F5F5F5;
      }
    }
  }
  .container {
    display: flex;
    align-items: center;
    position: relative;
  }
}
.header-small {
  position: relative;
  z-index: 5;
  padding: 40px 0;
  border-bottom: 1px solid #F5F5F5;
  @include point(def-down){
    padding: 15px 0;
  }
  .container {
    display: flex;
    align-items: center;
  }
  .button {
    padding: 15px 21px 12px;
    text-transform: uppercase;
    @include point(def-down){
      margin-left: auto;
      padding: 12px 18px 10px;
      font-size: 11px;
    }
  }
  .logo {
    @include point(def-down){
      font-size: 24px;
      margin-right: auto;
    }
  }
  .phone-box {
    @include point(def-down){
      display: none;
    }
    &__top-line {
      margin-bottom: 0;
    }
  }
}
.lang-switch {
  display: flex;
  align-items: center;
  margin-bottom: -2px;
  &__item {
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 100%;
    color: #939393;
    font-family: $font-family;
    margin-right: 7px;
    padding-bottom: 1px;
    border-bottom: 1px solid transparent;
    transition: all .3s;
    &:last-child {
      margin-right: 0;
    }
    &.active, &:hover {
      color: #009F00;
      border-bottom-color: #009F00;
    }
  }
}
.nav {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0 auto;
  li {
    margin-right: 40px;
    @include point(lg-def){
      margin-right: 12px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  a {
    font-size: 14px;
    color: #414141;
    text-decoration: none;
    @include point(lg-def){
      font-size: 12px;
    }
    &:hover,  &.active {
      text-decoration: underline;
    }
  }
}
.track-order {
  font-weight: 500;
  font-size: 14px;
  text-decoration: underline;
  color: #414141;
  margin-right: 39px;
  position: relative;
  padding-left: 28px;
  @include point(lg-def){
    margin-right: 12px;
  }
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/sprite.svg#track-order");
  }
  &:hover {
    text-decoration: none;
  }
}
.personal-box {
  position: relative;
  &:hover {
    .personal-box__dropdown {
      opacity: 1;
      pointer-events: all;
    }
  }
  &__title {
    font-weight: 500;
    font-size: 14px;
    text-decoration-line: underline;
    color: #414141;
    position: relative;
    padding-left: 28px;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 18px;
      height: 18px;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("../img/sprite.svg#login");
    }
  }
  &__dropdown {
    list-style: none;
    position: absolute;
    top: calc(100% + 22px);
    opacity: 0;
    right: 0;
    padding: 20px;
    background: #fff;
    pointer-events: none;
    transition: opacity .3s;
    z-index: 1;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    &:after {
      content: '';
      position: absolute;
      right: 20px;
      bottom: calc(100% - 1px);
      width: 21px;
      height: 18px;
      background-image: url("../img/sprite.svg#dropdown-triangle");
      background-position: center;
      background-repeat: no-repeat;
      z-index: 1;
    }
    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 100%;
      width: 100%;
      height: 22px;
    }
    li {
      margin-bottom: 15px;
      &:hover, &.active {
        a {
          text-decoration: underline;
        }
      }
      &:last-child {
        margin-top: 20px;
        margin-bottom: 0;
        a {
          color: #69B500;
        }
      }
    }
    a {
      display: inline-block;
      font-weight: 500;
      font-size: 14px;
      text-decoration: none;
      color: #595959;
      white-space: nowrap;
    }
  }
}
.logo {
  font-weight: bold;
  font-size: 45px;
  color: #009F00;
  display: inline-block;
  text-decoration: none;
  font-family: $font-family;
  @include point(lg-def){
    font-size: 30px;
  }
}
.cart-like-watched {
  display: flex;
  align-items: center;
  &__item {
    margin-right: 30px;
    text-decoration: none;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    &:hover {
      &.watched {
        &:before {
          background-image: url("../img/sprite.svg#watched-h");
        }
      }
      &.like {
        &:before {
          background-image: url("../img/sprite.svg#like-h");
        }
      }
      &.cart {
        &:before {
          background-image: url("../img/sprite.svg#cart-h");
        }
      }
      span {
        background: $green-2;
      }
    }
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-position: center;
      background-repeat: no-repeat;
    }
    &.watched {
      width: 60px;
      &:before {
        width: 40px;
        height: 24px;
        background-image: url("../img/sprite.svg#watched");
      }
    }
    &.like {
      width: 52px;
      &:before {
        width: 34px;
        height: 30px;
        background-image: url("../img/sprite.svg#like");
      }
    }
    &.cart {
      width: 53px;
      margin-right: 0;
      &:before {
        width: 30px;
        height: 30px;
        background-image: url("../img/sprite.svg#cart");
      }
    }
    span {
      width: 32px;
      height: 22px;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      color: #FFFFFF;
      background: $green-1;
      border-radius: 30px;
      position: relative;
      z-index: 1;
      font-family: $font-family;
      transition: background .3s;
    }
  }
}

.catalog-menu {
  margin-right: 25px;
  position: relative;
  @include point(lg-def){
    margin-right: 15px;
  }
  &__trigger {
    min-width: 252px;
    max-width: 252px;
    padding: 17px 20px 12px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: $green-2;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    text-align: center;
    transition: background .3s;
    font-family: $font-family;
    &.disabled {
      pointer-events: none;
    }
    &:hover {
      background: $green-1;
    }
    span {
      display: inline-block;
      padding-left: 28px;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 44%;
        transform: translateY(-50%);
        width: 18px;
        height: 10px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../img/sprite.svg#burger-white");
      }
    }
  }
  &__dropdown {
    list-style: none;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 100%;
    width: 100%;
    background: #F5F5F5;
    padding: 20px 0 20px 30px;
    .__view {
      display: flex;
      flex-wrap: wrap;
    }
    .item-level-0 {
      margin-bottom: 15px;
      position: static;
      padding-right: 30px;
      &:hover {
        .level-1 {
          opacity: 1;
          pointer-events: all;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
      &.decoration-bottom {
        margin-bottom: 30px;
        &:after {
          content: '';
          position: static;
          margin-bottom: -15px;
          margin-top: 15px;
          display: block;
          height: 1px;
          background: #fff;
        }
      }
    }
    .link-level-0 {
      font-weight: 500;
      font-size: 14px;
      line-height: 100%;
      color: #009F00;
      white-space: nowrap;
      text-decoration: none;
      transition: color .3s;
      &:hover {
        color: #595959;
        text-decoration: underline;
      }
    }
    .level-1 {
      list-style: none;
      opacity: 0;
      pointer-events: none;
      transition: opacity .3s;
      position: absolute;
      left: 100%;
      top: 0;
      height: 100%;
      width: 1008px;
      padding: 29px 20px;
      background: #FBFBFB;
      border-radius: 0 10px 10px 0;
      display: flex;
      flex-wrap: wrap;
      @include point(xl-lg){
        width:  888px;
      }
      @include point(lg-def){
        width:  678px;
      }
    }
    .item-level-1 {
      margin-bottom: 35px;
      min-width: 25%;
      max-width: 25%;
      @include point(lg-def){
        min-width: 33.333%;
        max-width: 33.333%;
      }
    }
    .link-level-1 {
      font-weight: bold;
      font-size: 16px;
      line-height: 100%;
      font-family: $font-family;
      color: #282828;
      display: inline-block;
      margin-bottom: 15px;
      text-decoration: none;
    }
    .level-2 {
      list-style: none;
      .item-level-2 {
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
          margin-top: 15px;
          .link-level-2 {
            font-weight: bold;
            font-size: 14px;
            line-height: 120%;
            text-decoration: underline;
            color: #69B500;
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
      .link-level-2 {
        font-size: 14px;
        color: #414141;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
.nav-2 {
  list-style: none;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  li {
    padding: 12px 0;
  }
  a {
    font-weight: bold;
    font-size: 16px;
    font-family: $font-family;
    color: $green-2;
    transition: color .3s;
    text-decoration: none;
    @include point(lg-def){
      font-size: 14px;
    }
    &:hover {
      color: $green-1;
    }
    span {
      color: #ff6a00;
    }
  }
}