.header-touch {
  display: none;
  padding: 15px 0;
  position: relative;
  z-index: 5;
  background: #fff;
  @include point(def-down){
    display: block;
  }
  .logo {
    font-size: 24px;
    margin-right: auto;
  }
  .cart-like-watched {
    &__item {

    }
  }
  .cart-like-watched {
    &__item {
      margin-right: 10px;
      &.watched {
        width: 31px;
        &:before {
          width: 27px;
          height: 16px;
        }
      }
      &.like {
        width: 26px;
        &:before {
          width: 18px;
          height: 16px;
        }
      }
      &.cart {
        width: 26px;
        &:before {
          width: 18px;
          height: 18px;
        }
      }
      span {
        width: 16px;
        height: 11px;
        font-size: 10px;
        line-height: 12px;
        border-radius: 30px;
      }
    }
  }
  .search-wrap {
    position: static;
    left: unset;
    top: unset;
    width: 100%;
    transform: translate(0,0);
    margin-top: 30px;
    &.focused {
      width: 100%;
    }
    &__results {
      left: 0;
      width: 100%;
      top:calc(100% + 10px);
      height: calc(100vh - 115px);
      display: flex;
      flex-direction: column;
      &__middle-line {
        flex-grow: 1;
        margin-right: -17px;
      }
      .__view {
        max-height: calc(100vh - 275px);
      }
    }
  }
  .cart-wrap {

    &__results {
      position: static;
      left: unset;
      top: unset;
      margin-top: 30px;
      width: 100%;
      &:before, &:after {
        display: none;
      }
      &__bottom-line {
        @include point(md-down){
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        .button {
          @include point(md-down){
            margin: 0 0 10px 0;
          }
        }
      }
      .__view {
        padding-right: 17px;
      }
      .cart-item {
        @include point(md-down){
          flex-direction: column;
          align-items: center;
          text-align: center;
          justify-content: center;
        }
        &__info {
          width: auto;
          flex-shrink: 1;
          flex-grow: 1;
          @include point(md-down){
            margin-right: 0;
            margin-bottom: 10px;
          }
        }
        &__item-img {
          margin: 0 0 10px 0;
        }
        &__count {
          @include point(md-down){
            margin: 0 0 10px 0;
          }
        }
      }
      &__top-line {
        height: calc(100vh - 190px);
        @include point(md-down){
          height: calc(100vh - 200px);
        }
      }
    }
  }
  .full-summ {
    min-width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    font-size: 14px;
    color: #282828;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    @include point(md-down){
      justify-content: center;
      margin-bottom: 10px;
    }
    &__title {
      font-weight: bold;
      font-size: 14px;
      line-height: 120%;
      color: #595959;
      margin-right: 11px;
    }
    span {
      font-weight: bold;
      font-family: $font-family;
      font-size: 20px;
      line-height: 100%;
      color: #282828;
      margin-right: 8px;
    }
  }
}
.search-trigger {
  width: 30px;
  height: 30px;
  margin-right: 2px;
  position: relative;
  span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 16px;
    height: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/sprite.svg#search-b");
  }
}
.slide-box {
  .left {
    position: fixed;
    left: 0;
    top: 0;
    width: calc(100% - 54px);
    height: 100vh;
    background: #fff;
    z-index: 10;
    display: flex;
    flex-direction: column;
  }
  .top {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    z-index: 10;
    display: flex;
    flex-direction: column;
  }
  .close {
    position: absolute;
    z-index: 3;
    right: 15px;
    top: 10px;
    width: 18px;
    height: 18px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/sprite.svg#close);
  }
  &__content {
    width: 100%;
    height: 100%;
  }
}
.burger {
  cursor: pointer;
  width: 18px;
  height: 18px;
  position: relative;
  margin-right: 10px;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background: #282828;
  }
  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background: #282828;
  }
  span {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background: #282828;
  }
}
.backlayer {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  &.type-left {
    &:after {
      content: '';
      position: absolute;
      right: 18px;
      top: 24px;
      width: 18px;
      height: 18px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("../img/sprite.svg#close-w");
    }
  }
}
.touch-menu {
  position: relative;
  &__top-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 16px;
    background: #F5F5F5;
    &.green {
      background: $green-2;
      padding: 16px 16px 17px;
    }
  }
  &__middle-line {
    height: calc(100vh - 137px);
  }
  &__bottom-line {
    padding: 23px 16px;
    background: #EEF0F1;
    .phone-box {
      margin-right: 0;
    }
  }
  .personal-area-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #414141;
    padding-left: 28px;
    padding-right: 15px;
    position: relative;
    text-decoration: underline;
    &.show {
      &:after {
        transform: translateY(-50%) scale(1, 1);
      }
    }
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 18px;
      height: 18px;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("../img/sprite.svg#login");
    }
    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%) scale(1,-1);
      width: 10px;
      height: 10px;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("../img/sprite.svg#dropdown-arrow");
      transition: transform .3s;
    }
  }
  .track {
    display: block;
    padding: 17px 16px;
    background: #fff;
    a {
      font-weight: 500;
      font-size: 14px;
      color: #414141;
      position: relative;
      padding-left: 28px;
      display: inline-block;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 18px;
        height: 18px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../img/sprite.svg#track-order");
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
  .__rail-is-vertical {
    right: 0!important;
  }
  .to-catalog {
    padding: 18px 16px 16px;
    background: #009F00;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 14px;
    font-family: $font-family;
    text-transform: uppercase;
    color: #FFFFFF;

  }
  .arrow {
    display: block;
    width: 16px;
    height: 17px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/sprite.svg#right-arrow-w");
  }
  .back {
    font-weight: bold;
    font-size: 14px;
    font-family: $font-family;
    color: #FFFFFF;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 16px 16px 17px;
    margin: -16px -16px -17px;
    width: calc(100% + 32px);
    .arrow {
      transform: scale(-1,1);
      margin-right: 20px;
    }
  }
}
.personal-area-list {
  background:   #009F00;
  padding: 20px 16px;
  li {
    margin-bottom: 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:last-child {
      margin-bottom: 0;
    }
    &:hover, &.active {
      a {
        text-decoration: underline;
      }
    }
    &.divide {
      padding-bottom: 20px;
      margin-bottom: 20px;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: #fff;
      }
    }
    &.ff {
      font-family: $font-family;
    }
  }
  a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    &.right-arrow {
      &:after {
        background-image: url('../img/sprite.svg#right-arrow-w');
      }
    }
  }
  span {
    background: #FFFFFF;
    border-radius: 30px;
    padding: 4px 7px;
    color: $green-2;
    font-weight: bold;
    font-size: 12px;
    &.red {
      color: #F04137;
    }
  }
}
.touch-nav-1 {
  padding: 10px 16px;
  background: #F5F5F5;
  li {
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid #FFFFFF;
    &:last-child {
      border-bottom-color: transparent;
    }
  }
  a {
    font-weight: bold;
    font-size: 16px;
    color: #009F00;
    font-family: $font-family;
    text-decoration: none;
  }
  span {
    color: #ff6a00;
  }
}
.touch-nav-2 {
  padding: 10px 16px;
  background: #fff;
  li {
    display: block;
    border-bottom: 1px solid #F5F5F5;
    padding: 10px 0;
    &:last-child {
      border-bottom-color: transparent;
    }
  }
  a {
    font-size: 14px;
    text-decoration: none;
    color: #414141;
  }
}
.catalog-nav-touch {
  min-height: calc(100vh - 137px);
  background: #F5F5F5;
  padding: 20px 16px;
  li {
    position: static;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &.decoration-bottom {
      margin-bottom: 30px;
      flex-wrap: wrap;
      &:after {
        content: '';
        position: static;
        margin-bottom: -15px;
        margin-top: 15px;
        display: block;
        height: 1px;
        background: #fff;
        width: 100%;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  a {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #009F00;
    text-decoration: none;
    display: inline-block;
  }
  .next-level {
    width: 24px;
    height: 24px;
    display: inline-block;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%) rotate(90deg);
      width: 10px;
      height: 10px;
      background-image: url("../img/sprite.svg#dropdown-arrow-g");
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  ul {
    background: #F5F5F5;
    padding: 20px 16px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: calc(100vh - 137px);
    z-index: 1;
  }
}