.loyalty-info-wrap {
  background: #F5F5F5;
  border-radius: 10px;
  padding: 30px 25px;
  position: relative;
  margin-bottom: 60px;
  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 576px;
    height: 472px;
    background-position:center;
    background-repeat: no-repeat;
    background-image: url("../img/img/unicorn.svg");
    @include point(lg-def){
      width: 371px;
      height: 450px;
      background-size: 100%;
    }
    @include point(def-down){
      width: 371px;
      height: 450px;
      background-size: 100%;
      opacity: 0.35;
    }
    @include point(md-down){
      width: 100%;
    }
  }
  .title {
    font-size: 18px;
    line-height: 140%;
    color: #595959;
    margin-bottom: 63px;
    margin-left: 35px;
    position: relative;
    z-index: 1;
    @include point(def-down){
      margin-left: 0;
    }
  }
  .additional-info {
    font-size: 14px;
    position: relative;
    z-index: 1;
    line-height: 140%;
    color: #595959;
    span {
      color: $red-1;
    }
  }
}
.loyalty-info {
  margin-bottom: 72px;
  margin-left: 35px;
  display: flex;
  width: 70%;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  @include point(def-down){
    width: 100%;
    margin-left: 0;
  }
  @include point(ms-down){
    flex-wrap: wrap;
    margin-bottom: 45px;
  }
  &__item {
    text-align: center;
    @include point(ms-down){
      width: 50%;
      margin-bottom: 30px;
    }
  }
  .percent {
    font-size: 80px;
    line-height: 120%;
    color: #69B500;
    font-family: $font-family;
    font-weight: 700;
    @include point(lg-def){
      font-size: 65px;
    }
    @include point(def-md){
      font-size: 55px;
    }
    @include point(md-down){
      font-size: 45px;
    }
  }
  .value {
    font-size: 14px;
    line-height: 100%;
    color: #282828;
    span {
      font-size: 20px;
      line-height: 100%;
      text-transform: uppercase;
      color: #282828;
      font-weight: 700;
      font-family: $font-family;
      @include point(md-ms){
        font-size: 16px;
      }
    }
  }
}
.loyalty-accordeon-wrap {
  padding-top: 50px;
  .accordeon-item {
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    &__title {
      padding: 20px 20px 20px 0;
      font-weight: bold;
      font-size: 14px;
      line-height: 120%;
      color: #282828;
      background: #fff;
      border-radius: 0;
      border-bottom: 1px solid $grey;
      &:before {
        right: 5px;
      }
      &:after {
        right: 0;
      }
    }
    &__content {
      padding: 30px 0;
    }
  }
}