.news-item {
  padding-bottom: 20px;
  &__item-img {
    display: block;
    border-radius: 10px;
    overflow: hidden;
    font-size: 0;
    margin-bottom: 20px;
    img {
      width: 100%;
    }
  }
  &__title {
    font-size: 16px;
    line-height: 120%;
    font-family: $font-family;
    color: #282828;
    text-decoration: none;
    margin-bottom: 28px;
    display: block;
    &:hover {
      text-decoration: underline;
    }
  }
  &__date {
    font-size: 16px;
    line-height: 120%;
    color: #BDBDBD;
    font-family: $font-family;
    padding-left: 41px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 30px;
      height: 30px;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("../img/sprite.svg#calendar");
    }
  }
}
.news-slider-wrap {
  margin-bottom: 80px;
}
.articles-wrap {
  display: flex;
  flex-wrap: wrap;
  .news-item {
    margin-bottom: 20px;
    @include point(lg-up){
      min-width: calc(25% - 12px);
      max-width: calc(25% - 12px);
      margin-right: 16px;
      &:nth-child(4n + 4){
        margin-right: 0;
      }
    }
    @include point(lg-def){
      min-width: calc(33.333% - 11px);
      max-width: calc(33.333% - 11px);
      margin-right: 16px;
      &:nth-child(3n + 3){
        margin-right: 0;
      }
    }
    @include point(def-md){
      min-width: calc(50% - 8px);
      max-width: calc(50% - 8px);
      margin-right: 16px;
      &:nth-child(2n + 2){
        margin-right: 0;
      }
    }
    @include point(md-down){
      min-width: 100%;
      max-width: 100%;
    }
  }
}