.ordering-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  @include point(def-down){
    flex-direction: column;
  }
  .column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &:nth-child(1){
      background: #F5F5F5;
      border-radius: 0 10px 10px 0;
      padding: 50px 105px 50px 0;
      margin-top: -30px;
      position: relative;
      min-width: calc(60% - 39px);
      max-width: calc(60% - 39px);
      @include point(xl-lg){
        min-width: calc(60% - 19px);
        max-width: calc(60% - 19px);
      }
      @include point(lg-def){
        min-width: calc(50% - 19px);
        max-width: calc(50% - 19px);
        padding: 50px 50px 50px 0;
      }
      @include point(def-down){
        min-width: 100%;
        max-width: 100%;
        padding: 50px  20px;
        border-radius: 0 0 10px 10px;
        margin-bottom: 30px;
      }
      @include point(md-down){
        padding: 50px  15px;
      }
      &:before {
        content: '';
        position: absolute;
        right: 100%;
        height: 100%;
        top: 0;
        width: 1500px;
        background: inherit;
        @include point(def-down){
          display: none;
        }
      }
    }
    &:nth-child(2){
      padding-top: 20px;
      min-width: calc(40% - 39px);
      max-width: calc(40% - 39px);
      @include point(xl-lg){
        min-width: calc(40% - 19px);
        max-width: calc(40% - 19px);
      }
      @include point(lg-def){
        min-width: calc(50% - 19px);
        max-width: calc(50% - 19px);
      }
      @include point(def-down){
        min-width: 100%;
        max-width: 100%;
      }
      .right-arrow {
        margin-left: auto;
        font-weight: bold;
        font-size: 14px;
        font-family: $font-family;
        margin-top: -70px;
        margin-bottom: 70px;
        @include point(md-down){
          margin-top: -50px;
          margin-bottom: 50px;
        }
      }
    }
    .h1 {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.order-preview {
  width: 100%;
  padding-top: 12px;
  border-top: 1px solid #939393;
  margin-bottom: 10px;
  .cart-item {
    border: 2px solid #F5F5F5;
    border-radius: 10px;
    margin: -2px 0 0 0;
    @include point(md-down){
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
    }
    &__count-info {
      font-size: 14px;
      color: #595959;
      font-weight: 700;
      font-family: $font-family;
      margin-right: 15px;
      @include point(md-down){
        margin: 0 0 10px 0;
      }
    }
    &__item-img {
      @include point(md-down){
        margin: 0 0 10px 0;
      }
    }
    &__info {
      margin-right: 27px;
      flex-grow: 1;
      @include point(md-down){
        width: auto;
        flex-shrink: 1;
        flex-grow: 1;
        margin-right: 0;
        margin-bottom: 10px;
      }
      &__params {
        span {
          display: inline-block;
          margin-right: 9px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
    &__price {
      font-size: 14px;
      color: #282828;
      span {
        font-size: 20px;
        color: #282828;
        font-family: $font-family;
        font-weight: 700;
      }
    }
  }
}
.order-preview-result {
  background: #F5F5F5;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 100%;
  &__info {
    font-size: 14px;
    line-height: 120%;
    color: #595959;
    margin-bottom: 10px;
    .summ {
      font-size: 12px;
       color: #595959;
      span {
        font-weight: bold;
        font-size: 14px;
        color: #595959;
        font-family: $font-family;
      }
    }
  }
  &__info-final {
    font-weight: bold;
    font-size: 14px;
    color: #595959;
    font-family: $font-family;
    .summ {
      font-size: 14px;
      line-height: 100%;
      color: #282828;
      font-family: $font-family-alt;
      span {
        font-weight: bold;
        font-size: 20px;
        color: #282828;
        font-family: $font-family;
      }
    }
  }
}
.step {
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  &.active {
    span {
      color: #69B500;
    }
  }
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 45%;
    width: 100%;
    height: 1px;
    background: #939393;
  }
  span {
    font-weight: bold;
    font-size: 14px;
    color: #939393;
    padding-left: 15px;
    position: relative;
    z-index: 1;
    background: #F5F5F5;
  }
}
.contact-information {
  padding-left: 50px;
  width: 100%;
  @include point(def-down){
    padding-left: 20px;
  }
  &__ready {
    display: flex;
    margin-bottom: 70px;
    align-items: center;
    @include point(md-down){
      flex-direction: column;
      align-items: flex-start;
    }
    .info {
      font-weight: bold;
      font-size: 14px;
      color: #939393;
      margin-right: 10px;
      line-height: 1.2;
      @include point(md-down){
        margin-bottom: 16px;
        margin-right: 0;
      }
    }
    .right-arrow {
      font-weight: bold;
      font-size: 14px;
      color: #69B500;
      font-family: $font-family;
    }
  }
  .right-arrow {
    font-weight: bold;
    font-family: $font-family;
  }
  .h2 {
    margin-bottom: 10px;
  }
  .submit-wrap {
    margin-bottom: 70px;
    @include point(md-down){
      flex-direction: column;
    }
    .right-arrow {
      @include point(md-down){
        margin-bottom: 20px;
      }
    }
  }
  .login-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    &__title {
      font-weight: bold;
      font-size: 14px;
      margin-right: 10px;
      color: #939393;
      @include point(md-down){
        margin-right: auto;
      }
    }
  }
  .button {
    padding: 20px 50px 16px;
    margin-top: 5px;
    @include point(xl-down){
      padding: 20px 30px 16px;
    }
  }
}
.provider-img {
  height: 34px;
  margin-left: 10px;
}
.provider-wrap {
  margin-bottom: 6px;
  @include point(md-down){
    flex-direction: column;
  }
  .validation-field {
    min-width: 50%;
    max-width: 50%;
    @include point(md-down){
      min-width: 100%;
      max-width: 100%;
    }
  }
}
.ordering-title {
  font-weight: bold;
  font-size: 14px;
  color: #939393;
  margin-bottom: 30px;
}
.ordering-payment-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  .validation-field {
    min-width: 50%;
    max-width: 50%;
    @include point(md-down){
      min-width: 100%;
      max-width: 100%;
    }
  }
}
.toggle-box {
  &__trigger {
    font-weight: bold;
    font-size: 14px;
    color: #69B500;
    margin-bottom: 18px;
    cursor: pointer;
    text-decoration: underline;
    font-family: $font-family;
    &:hover {
      text-decoration: none;
    }
  }
  &__content {
    width: 100%;
  }
  textarea {
    width: 100%;
  }
}