.personal-area-wrap {
  display: flex;
  justify-content: space-between;
  @include point(def-down){
    flex-direction: column;
  }
  .left-side {
    min-width: 252px;
    max-width: 252px;
    border-radius: 10px;
    overflow: hidden;
    @include point(def-down){
      min-width: 100%;
      max-width: 100%;
      margin-bottom: 20px;
    }
  }
  .right-side {
    min-width: calc(100% - 272px);
    max-width: calc(100% - 272px);
    padding-top: 20px;
    @include point(def-down){
      min-width: 100%;
      max-width: 100%;
    }
    h1, .h1 {
      font-size: 18px;
      margin-bottom: 41px;
    }
  }
}
.order {
  margin-bottom: 2px;
  border: 1px solid #F5F5F5;
  border-radius: 10px;
  &__top-line {
    padding: 10px 35px 8px 23px;
    background: #F5F5F5;
    border-radius: 10px;
    display: flex;
    position: relative;
    border: 1px solid #F5F5F5;
    transition: background .3s;
    cursor: pointer;
    @include point(md-down){
      flex-direction: column;
      padding: 10px 35px 8px 10px;
    }
    &.open {
      background: #fff;
      &:after {
        transform: translateY(-50%) scale(1,1);
      }
    }
    &:after {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("../img/sprite.svg#dropdown-arrow");
      top: 50%;
      transform: translateY(-50%) scale(1,-1);
      right: 15px;
      transition: transform .3s;
    }
    > div {
      min-width: 20%;
      max-width: 20%;
      @include point(lg-md){
        min-width: 23%;
        max-width: 23%;
      }
      @include point(md-down){
        min-width: 100%;
        max-width: 100%;
        margin-bottom: 6px;
        text-align: left;
      }
      &.status {
        text-align: center;
        font-size: 14px;
        @include point(md-down){
          margin-bottom: 0;
          text-align: left;
        }
        &.green {
          color: #69B500;
        }
        &.red {
          color: #EB5757;
        }
        &.blue {
          color: #4E9AFB;
        }
      }
      &.number, &.info {
        font-weight: bold;
        font-size: 14px;
        color: #595959;
      }
      &.date {
        font-size: 14px;
        color: #595959;
      }
    }
  }
  .result {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &__info {
      width: 280px;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin-bottom: 10px;
      @include point(md-down){
        width: 100%;
      }
      &:last-child {
        margin-bottom: 0;
        margin-top: 37px;
        .value {
          font-size: 14px;
          span {
            font-size: 20px;
            color: #282828;
          }
        }
      }
    }
    .title {
      font-size: 14px;
      color: #595959;
    }
    .value {
      font-size: 12px;
      color: #595959;
      span {
        font-weight: bold;
        font-size: 14px;
        color: #595959;
        font-family: $font-family;
      }
    }
  }
}
.area-catalog-wrap {
  display: flex;
  flex-wrap: wrap;
  .catalog-item {

    margin: 0 16px 20px 0;
    @include point(xl-up){
      min-width: calc(25% - 12px);
      max-width: calc(25% - 12px);
      &:nth-child(4n + 4){
        margin-right: 0;
      }
    }
    @include point(xl-def){
      min-width: calc(33% - 10px);
      max-width: calc(33% - 10px);
      &:nth-child(3n + 3){
        margin-right: 0;
      }
    }
    @include point(def-md){
      min-width: calc(50% - 8px);
      max-width: calc(50% - 8px);
      &:nth-child(2n + 2){
        margin-right: 0;
      }
    }
    @include point(md-down){
      min-width: 100%;
      max-width: 100%;
      margin-right: 0;
    }
  }
}
.area-grey {
  padding: 30px 155px 95px 40px;
  background: #F5F5F5;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 444px;
  @include point(md-down){
    width: 100%;
    padding: 30px 40px 95px 40px;
  }
  &.mailing {
    &:after {
      background-image: url("../img/img/mailing.svg");
      background-size: 132px;
      background-position: left center;
      @include point(ms-down){
        background-size: 90px;
      }
    }
  }
  &:after {
    content: '';
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/img/viewed-help.svg");
    width: 199px;
    height: 199px;
    top: 38px;
    left: calc(100% - 60px);
    @include point(md-down){
      left: unset;
      right: 5px;
      top: unset;
      bottom: 5px;
      background-size: 100%;
    }
    @include point(md-ms){
      width: 150px;
      height: 150px;
    }
    @include point(ms-down){
      width: 100px;
      height: 100px;
    }
  }
  &__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 120%;
    color: #009F00;
    margin-bottom: 50px;
    font-family: $font-family;
  }
  .mail {
    font-size: 14px;
    line-height: 120%;
    color: #282828;
    margin-bottom: 30px;
  }
  .right-arrow {
    margin-bottom: 22px;
    line-height: 120%;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.green-border-wrap {
  padding: 50px 26px;
  border: 4px solid #69B500;
  border-radius: 10px;
  margin-top: 50px;
  h1,.h1 {
    font-weight: bold;
    font-size: 30px;
    line-height: 120%;
    font-family: $font-family;
    color: #69B500;
  }
}
.wish-wrap {
  border-top: 1px solid #F5F5F5;
  padding-top: 10px;
}
.bonus-stat {
  display: flex;
  align-items: baseline;
  .title {
    font-size: 14px;
    line-height: 140%;
    color: #595959;
    margin-right: 10px;
  }
  .value {
    font-weight: bold;
    font-size: 14px;
    font-family: $font-family;
    line-height: 120%;
    color: #009F00;
    span {
      font-size: 30px;
    }
  }
}
.bundle-order-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: -70px 0 41px 0;
  @include point(md-down){
    margin: 0 0 41px 0;
  }
  .detail {
    font-weight: bold;
    font-size: 14px;
    line-height: 120%;
    font-family: $font-family;
    text-decoration-line: underline;
    color: #69B500;
    margin-top: 14px;
    @include point(md-down){
      margin-top: 0;
    }
    &:hover {
      text-decoration: none;
    }
  }
  .title {
    font-size: 14px;
    line-height: 120%;
    color: #595959;
    margin-right: 10px;
  }
  .price {
    font-size: 12px;
    line-height: 100%;
    color: #595959;
    margin-right: 20px;
    span {
      font-weight: bold;
      font-size: 14px;
      line-height: 100%;
      color: #595959;
      font-family: $font-family;
    }
  }
  .button {
    padding: 15px 16px 12px;
    text-transform: uppercase;
  }
}
.card-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  @include point(lg-down){
    flex-direction: column;
  }
  .button {
    text-transform: uppercase;
    padding: 20px 38px 16px;
  }
  .left {
    min-width: calc(100% - 464px);
    max-width: calc(100% - 464px);
    @include point(lg-down){
      margin-bottom: 40px;
      min-width: 100%;
      max-width: 100%;
    }
  }
  .right {
    min-width: 444px;
    max-width: 444px;
    background: #F5F5F5;
    border-radius: 10px;
    padding: 30px 25px;
    position: relative;
    @include point(lg-down){
      min-width: 100%;
      max-width: 100%;
    }
    &:after {
      content: '';
      position: absolute;
      right: 0;
      bottom: -32px;
      width: 52%;
      height: 84%;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("../img/img/unicorn-2.svg");
      @include point(lg-down){
        width: 35%;
        height: 92%;
      }
      @include point(def-md) {
        width: 33%;
      }
      @include point(md-ms){
        width: 55%;
      }
      @include point(md-down){
        display: none;
      }
    }
  }
  .discount-top-info {
    color: #595959;
    text-align: center;
    margin-bottom: 30px;
  }
  .discount-bottom-info {
    color: #595959;
    width: 50%;
    position: relative;
    z-index: 1;
    @include point(md-down){
      width: 100%;
    }
    span {
      color: $red-1;
    }
  }
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .discount-info-wrap {
    width: 50%;
    margin-bottom: 30px;
    @include point(md-down){
      width: 100%;
    }
  }
  .discount-item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
    .summ {
      font-size: 14px;
      line-height: 100%;
      color: #282828;
      span {
        font-weight: bold;
        font-size: 20px;
        line-height: 100%;
        color: #282828;
        font-family: $font-family;
      }
    }
    .discount {
      font-weight: bold;
      font-size: 30px;
      line-height: 120%;
      color: #69B500;
      font-family: $font-family;
    }
  }
}
.card-numbers {
  width: 100%;
  padding: 20px 57px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #F5F5F5;
  border-radius: 10px;
  margin-bottom: 30px;
  @include point(xl-def){
    padding: 20px 30px;
  }
  @include point(def-down){
    padding: 20px;
  }
  input[type='text'] {
    width: 88px;
    height: 45px;
    text-align: center;
    color: #595959;
    background: #FFFFFF;
    border-radius: 60px;
    border: none;
    flex-grow: 1;
    margin-right: 10px;
    @include point(xl-def){
      width: 70px;
    }
    @include point(def-down) {
      width: 60px;
    }
  }
  .hover-info__text {
    @include point(def-down){
      right: 0;
      transform: translateX(0);
    }
  }
}
.add-children-info {
  background-color: #F5F5F5;
  border-radius: 10px;
  padding: 48px 40px 40px;
  background-position: 50px calc(100% - 40px);
  background-repeat: no-repeat;
  background-size: 35%;
  background-image: url("../img/img/add-children.svg");
  @include point(lg-def){
    background-size: 30%;
  }
  @include point(md-down){
    background-image: none;
  }
  &__box {
    padding-left: 55%;
    @include point(lg-def){
      padding-left: 40%;
    }
    @include point(md-down){
      padding-left: 0;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
    }
  }
  .title {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 120%;
    color: #009F00;
    font-family: $font-family;
    margin-bottom: 83px;
    @include point(md-down){
      margin-bottom: 50px;
    }
  }
  ul {
    margin-bottom: 40px;
  }
  .button {
    padding: 20px 32px 16px;
    text-transform: uppercase;
    @include point(md-down){
      margin: 0 auto;
    }
  }
}
.add-children-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  @include point(lg-down) {
    flex-direction: column;
  }
  .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: calc(100% - 464px);
    max-width: calc(100% - 464px);
    @include point(lg-down) {
      min-width: 100%;
      max-width: 100%;
      margin-bottom: 50px;
    }
    .plus {
      margin-left: auto;
      font-weight: bold;
      font-size: 14px;
      line-height: 120%;
      color: #69B500;
      position: relative;
      padding-right: 21px;
      margin-top: -58px;
      margin-bottom: 41px;
      &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 12px;
        height: 12px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../img/sprite.svg#plus");
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
  .right {
    background: #F5F5F5;
    border-radius: 10px;
    width: 444px;
    flex-shrink: 0;
    padding: 20px;
    min-height: 368px;
    margin-top: -20px;
    @include point(lg-down) {
      min-width: 100%;
      max-width: 100%;
      min-height: 0;
    }
    .title {
      font-weight: bold;
      font-size: 18px;
      line-height: 120%;
      color: #009F00;
      margin-bottom: 20px;
      font-family: $font-family;
    }
  }
}
.children {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.family {
  .child {
    min-width: 100%;
    max-width: 100%;
    padding: 10px 0;
    margin-bottom: 12px;
    &__info {
      margin: 0 auto 0 30px;
    }
  }
}
.child {
  min-width: calc(50% - 10px);
  max-width: calc(50% - 10px);
  background: #F5F5F5;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 21px;
  margin-bottom: 20px;
  @include point(xl-lg){
    padding: 14px;
  }
  @include point(ms-down){
    min-width: 100%;
    max-width: 100%;
  }
  &__info {
    margin: 0 auto;
  }
  &__name {
    font-weight: bold;
    font-size: 16px;
    line-height: 120%;
    color: #282828;
    margin-bottom: 5px;
    font-family: $font-family;
  }
  &__age {
    font-size: 14px;
    line-height: 100%;
    text-decoration-line: underline;
    color: #414141;
  }
  &__item-img {
    min-width: 38px;
    max-width: 38px;
    font-size: 0;
    img {
      width: 100%;
    }
  }
  &__edit {
    min-width: 16px;
    max-width: 16px;
    height: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/sprite.svg#edit");
    margin-right: 14px;
    margin-left: auto;
  }
  &__close {
    min-width: 16px;
    max-width: 16px;
    height: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/sprite.svg#close-b");
    background-size: 18px;
  }
}
.profile-wrap {
  display: flex;
  justify-content: space-between;
  height: 100%;
  @include point(lg-down){
    flex-wrap: wrap;
  }
  .form-box {
    background: #F5F5F5;
    border-radius: 10px;
    padding: 20px;
    width: calc(100% - 464px);
    margin-top: -20px;
    @include point(xl-lg){
      width: calc(100% - 370px);
    }
    @include point(lg-down){
      width: 100%;
    }
    @include point(md-down){
      margin: 0 0 20px 0;
    }
  }
  .grey-box {
    background: #F5F5F5;
    border-radius: 10px;
    padding: 20px;
    width: calc((100% - 484px) / 2);
    margin-top: -20px;
    @include point(xl-lg){
      width: calc((100% - 390px) / 2);
    }
    @include point(lg-md){
      width: calc(50% - 10px);
    }
    @include point(md-down){
      width: 100%;
      margin: 0 0 20px 0;
    }
  }
  .card-box {
    width: 444px;
    margin-top: -20px;
    @include point(xl-lg){
      width: 350px;
    }
    @include point(lg-down){
      width: 100%;
      margin: 20px 0 0;
    }
  }
  .discount-box {
    padding: 20px 20px;
    border: 1px solid #F5F5F5;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title {
      color: #282828;
      margin-bottom: 0;
    }
    .link {
      font-weight: bold;
      font-size: 14px;
      line-height: 120%;
      color: #69B500;
      font-family: $font-family;
    }
  }
  .card {
    margin-bottom: 30px;
    position: relative;
    img {
      width: 100%;
    }
    > div {
      font-size: 14px;
      line-height: 100%;
      color: #939393;
      position: absolute;
      transform-origin: center center;
      z-index: 1;
      bottom: 23.6%;
      @include point(lg-md){
        font-size: 22px;
      }
      &.first {
        left: 29.5%;
      }
      &.second {
        left: 43.5%;
      }
      &.third {
        left: 57.8%;
      }
      &.fourth {
        left: 72%;
      }
      &.percent {
        font-weight: bold;
        font-size: 50px;
        color: #FFFFFF;
        font-family: $font-family;
        left: 25%;
        bottom: 46%;
        @include point(xl-lg){
          font-size: 40px;
        }
        @include point(sm-down){
          font-size: 35px;
        }
      }
    }
  }
  .discount-info {
    font-size: 14px;
    color: #282828;
    line-height: 2;
    .discount-percent {
      font-weight: bold;
      font-size: 14px;
      color: #69B500;
    }
    .price {
      font-size: 14px;
      color: #282828;
      span {
        font-weight: bold;
        font-size: 20px;
        line-height: 100%;
        color: #282828;
      }
    }
  }
  .edit {
    min-width: 16px;
    max-width: 16px;
    height: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/sprite.svg#edit");
    margin-right: 14px;
    margin-left: auto;
    margin-bottom: 20px;
  }
  .profile__name {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #282828;
    margin-bottom: 15px;
  }
  .profile__phone {
    font-size: 14px;
    line-height: 120%;
    color: #282828;
    margin-bottom: 10px;
  }
  .profile__email {
    font-size: 14px;
    line-height: 120%;
    color: #282828;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
  }
  .add {
    font-weight: bold;
    font-size: 14px;
    line-height: 120%;
    color: #69B500;
    font-family: $font-family;
  }
  .title {
    font-weight: bold;
    font-size: 18px;
    line-height: 120%;
    color: #009F00;
    text-decoration: none;
    font-family: $font-family;
    margin-bottom: 20px;
    &.plus {
      position: relative;
      padding-right: 21px;
      &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 12px;
        height: 12px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../img/sprite.svg#plus");
      }
    }
  }
}
.form-box {
  .form-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 120%;
    color: #009F00;
    font-family: $font-family;
    margin-bottom: 30px;
  }
  .button {
    padding: 20px 15px 16px;
  }
}
.add-delivery-methods {
  margin-top: 60px;
  padding-top: 30px;
  border-top: 1px solid #fff;
  &__item {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 120%;
    color: #282828;
    font-family: $font-family;
    margin-bottom: 15px;
  }
  &__trigger {
    font-size: 14px;
    line-height: 120%;
    text-decoration: underline;
    color: #69B500;
    cursor: pointer;
    position: relative;
    padding-right: 21px;
    font-family: $font-family;
    display: inline-block;
    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 12px;
      height: 12px;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("../img/sprite.svg#plus");
    }
    &:hover {
      text-decoration: none;
    }
  }
}
.form-container {
  &__content {
    form {
      padding-top: 30px;
    }
  }
  .line-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include point(md-down){
      flex-direction: column;
    }
    .validation-field {
      margin-right: 20px;
      min-width: calc(25% - 20px);
      max-width: calc(25% - 20px);
      @include point(md-down){
        min-width: 100%;
        max-width: 100%;
        margin-right: 0;
      }
      &.select-wrapper {
        min-width: 50%;
        max-width: 50%;
        @include point(md-down){
          min-width: 100%;
          max-width: 100%;
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .recipient-wrap {
    display: flex;
    align-items: center;
    .validation-field {
      margin-right: 50px;
      display: flex;
      align-items: center;
      min-width: unset;
      max-width: unset;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
.delivery-submit-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  .button {
    margin-right: 40px;
  }
}
.reset {
  font-weight: bold;
  font-size: 14px;
  text-decoration: underline;
  color: #595959;
  font-family: $font-family;
  position: relative;
  cursor: pointer;
  padding-right: 22px;
  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/sprite.svg#close-b");
  }
  &:hover {
    text-decoration: none;
  }
}