.profitable-offers {
  padding-top: 52px;
  margin-bottom: 52px;
}
.profitable-slider-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  @include point(def-down){
    flex-direction: column;
  }
}
.new-offers {
  margin-bottom: 108px;
  @include point(md-down){
    margin-bottom: 50px;
  }
}
.profitable {
  min-width: calc(61.5% - 20px);
  max-width: calc(61.5% - 20px);
  @include point(xl-lg){
    min-width: calc(50% - 8px);
    max-width: calc(50% - 8px);
  }
  @include point(lg-def){
    min-width: calc(33% - 8px);
    max-width: calc(33% - 8px);
  }
  @include point(def-down){
    min-width: 100%;
    max-width: 100%;
    margin-bottom: 30px;
  }
}
.top-slider-wrap {
  min-width: 38.5%;
  max-width: 38.5%;
  border: 4px solid #65B016;
  border-radius: 10px;
  overflow: hidden;
  @include point(xl-lg){
    min-width: calc(50% - 8px);
    max-width: calc(50% - 8px);
  }
  @include point(lg-def){
    min-width: calc(66% - 8px);
    max-width: calc(66% - 8px);
  }
  @include point(def-down){
    min-width: 100%;
    max-width: 100%;
  }
}