.success-order-decor {
  background-image: url("../img/img/left-flags.svg"), url("../img/img/right-flags.svg"), url("../img/img/stars.svg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left top,right top, center center;
  background-size: 33%, 33%, 50%;
  position: relative;
  overflow: hidden;
  .container {
    position: relative;
    @include point(def-down){
      position: static;
    }
  }
}
.success-order {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 250px 0;
  @include point(md-ms){
    margin: 100px 0;
  }
  @include point(ms-down){
    margin: 50px 0;
  }
  &__title {
    font-weight: bold;
    font-size: 60px;
    line-height: 130%;
    color: #009F00;
    font-family: $font-family;
    text-align: center;
    @include point(def-down){
      font-size: 40px;
    }
    @include point(ms-down){
      font-size: 30px;
    }
  }
  &__number {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: #595959;
    text-align: center;
    margin: 57px 0;
    @include point(ms-down){
      margin: 45px 0;
      font-size: 18px;
    }
  }
  &__info {
    font-size: 14px;
    line-height: 120%;
    color: #595959;
    margin-bottom: 10px;
    text-align: center;
  }
  &__buttons {
    margin-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include point(sm-down){
      flex-direction: column;
      align-items: center;
    }
    @include point(ms-down){
      margin-top: 40px;
    }
  }
  .right-arrow {
    font-weight: bold;
    font-family: $font-family;
    color: #69B500;
    margin-right: 110px;
    @include point(md-down){
      margin-right: 50px;
    }
    @include point(sm-down){
      margin: 0 0 30px 0;
    }
  }
  .button {
    padding: 20px 55px 16px;
    text-transform: uppercase;
  }
}
@keyframes ball {
  0% {
    transform: translateY(300%);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-300%);
  }

}
.ball-decor {
  position: absolute;
  transform-origin: center center;
  animation: ball 5s linear infinite;
  opacity: 0;
  @include point(md-down){
    width: 40px;
  }
  &.ball-1 {
    top: 16%;
    left: 4%;
    animation-delay: 2s;
  }
  &.ball-2 {
    left: 8%;
    top: 29%;
    z-index: 1;
    animation-delay: 2.2s;
  }
  &.ball-3 {
    left: 9%;
    top: 0;
    animation-delay: 2.1s;
  }
  &.ball-4 {
    top: 34%;
    right: 10%;
    animation-delay: 2.4s;
  }
  &.ball-5 {
    top: 55%;
    right: 6%;
    animation-delay: 2.5s;
  }
}
