.inline-item-img {
  overflow: hidden;
  font-size: 0;
  border-radius: 10px;
  margin-bottom: 50px;
  img {
    width: 100%;
  }
}
.item-date {
  font-size: 16px;
  line-height: 120%;
  font-family: $font-family;
  color: #BDBDBD;
  padding-left: 41px;
  position: relative;
  margin-bottom: 38px;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-image: url(../img/sprite.svg#calendar);
    background-position: center;
    background-repeat: no-repeat;
    top: 50%;
  }
}
.text-content-gray {
  background: #F5F5F5;
  border-radius: 10px;
  padding: 50px;
  @include point(def-down){
    padding: 26px;
  }
  .left {
    float: left;
    margin: 0 80px 50px 0;
    max-width: 50%;
    @include point(def-down){
      float: none;
      margin: 0 auto 35px;
      max-width: 100%;
    }
  }
  .button {
    margin: 50px 0 140px 0;
    @include point(def-down){
      padding: 20px 56px 16px;
      margin: 0 0 50px 0;
    }
  }
}