.big-switch {
  cursor: pointer;
  input {
    display: none;
  }
  input:checked + .switch {
    background-color: #69B500;
    &:after {
      transform: translateX(-56px);
    }
    .on {
      opacity: 1;
    }
    .off {
      opacity: 0;
    }
  }
  .switch {
    width: 106px;
    height: 50px;
    border-radius: 30px;
    background-color: #939393;
    position: relative;
    transition: background-color .3s;
    &:after {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      background: #fff;
      border-radius: 50%;
      right: 10px;
      top: 10px;
      cursor: pointer;
      transition: transform .3s;
    }
    div {
      font-weight: bold;
      font-size: 14px;
      line-height: 100%;
      text-transform: uppercase;
      position: absolute;
      color: #FFFFFF;
      top: 50%;
      transform: translateY(-44%);
      opacity: 0;
      transition: opacity .3s;
      font-family: $font-family;
      &.on {
        right: 15px;
      }
      &.off {
        left: 15px;
        opacity: 1;
      }
    }

  }
}