.breadcrumbs {
  display: flex;
  padding: 16px 0;
  margin-top: -16px;
  margin-bottom: 44px;
  list-style: none;
  @include point(md-down){
    max-width: 100%;
    overflow-x: auto;
    margin-bottom: 25px;
  }
  li {
    margin-right: 26px;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      left: calc(100% + 9px);
      top: 50%;
      transform: translateY(-50%);
      width: 10px;
      height: 10px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("../img/sprite.svg#breadcrumbs-arrow");
    }
    &:last-child {
      &:after {
        display: none;
      }
      a {
        color: #009F00;
        pointer-events: none;
      }
    }
  }
  a {
    font-size: 14px;
    line-height: 17px;
    color: #414141;
    transition: color .3s;
    text-decoration: none;
    @include point(md-down){
      white-space: nowrap;
    }
    &:hover {
      color: #009F00;
    }
  }
}