.button {
  border-radius: 30px;
  color: #fff;
  font-family: $font-family;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-weight: 400;
  cursor: pointer;
  font-size: 14px;
  transition: background .3s;
  vertical-align: middle;
  background: $green-1;
  &:hover {
    background: $green-2;
  }
  &.small {
    padding: 15px 60px 14px;
  }
  &.medium {
    padding: 20px 56px 16px;
  }
  &.large {
    padding: 20px 95px 16px;
  }
  &.red {
    background: $red-1;
    &:hover {
      background: $red-2;
    }
  }
  &.disable {
    background: #939393;
  }
  input {
    display: none;
    cursor: default;
  }
}
.right-arrow {
  padding-right: 17px;
  position: relative;
  color: #69B500;
  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 9px;
    height: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/sprite.svg#right-arrow");
  }
}
._upper {
  text-transform: uppercase;
}