.cart-wrap {
  position: relative;
  z-index: 1;
  &__results {
    position: absolute;
    z-index: 1;
    right: 0;
    top: calc(100% + 22px);
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    &:after {
      content: '';
      position: absolute;
      right: 20px;
      bottom: calc(100% - 1px);
      width: 21px;
      height: 18px;
      background-image: url("../img/sprite.svg#dropdown-triangle-gray");
      background-position: center;
      background-repeat: no-repeat;
      z-index: 1;
    }
    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 100%;
      width: 100%;
      height: 22px;
    }
  }
  &__results__bottom-line {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 20px 20px 30px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .button {
      text-transform: uppercase;
      padding: 15px 30px 11px;
      margin-right: auto;
    }
  }
  .full-summ {
    min-width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    font-size: 14px;
    color: #282828;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    &__title {
      font-weight: bold;
      font-size: 14px;
      line-height: 120%;
      color: #595959;
      margin-right: 11px;
    }
    span {
      font-weight: bold;
      font-family: $font-family;
      font-size: 20px;
      line-height: 100%;
      color: #282828;
      margin-right: 8px;
    }
  }
  .to-order {
    font-weight: bold;
    font-size: 14px;
    line-height: 120%;
    color: #69B500;
  }
}
.cart-item {
  display: flex;
  align-items: center;
  padding: 10px;
  background: #fff;
  margin: 2px;
  border-radius: 10px;
  &__item-img {
    width: 70px;
    height: 70px;
    position: relative;
    flex-shrink: 0;
    margin-right: 6px;
    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      max-width: 100%;
      max-height: 100%;
    }
  }
  &__info {
    width: 135px;
    margin-right: 10px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
  }
  &__info__title {
    font-size: 12px;
    line-height: 120%;
    color: #282828;
    font-family: $font-family;
    margin-bottom: 14px;
    text-decoration: none;
  }
  &__info__params {
    font-size: 12px;
    line-height: 120%;
    color: #4F4F4F;
  }
  &__count {
    display: flex;
    align-items: center;
    border: 1px solid #F5F5F5;
    border-radius: 20px;
    flex-shrink: 0;
    overflow: hidden;
    margin-right: 20px;
    input {
      height: 30px;
      width: 30px;
      border: none;
      font-family: $font-family;
      font-weight: bold;
      font-size: 14px;
      color: #595959;
      text-align: center;
    }
    .plus, .minus {
      height: 30px;
      width: 30px;
      text-align: center;
      line-height: 30px;
      color: #939393;
      cursor: pointer;
      font-family: $font-family;
      font-size: 24px;
      transition: color .3s;
      user-select: none;
      &:hover {
        color: #595959;
      }
    }
    .minus {
      font-size: 30px;
    }
  }
  &__price {
    font-size: 12px;
    line-height: 100%;
    color: #595959;
    white-space: nowrap;
    span {
      font-weight: bold;
      font-size: 14px;
      font-family: $font-family;
    }
  }
}