.catalog-item {
  position: relative;
  border: 4px solid transparent;
  border-radius: 10px;
  transition: border-color .3s;
  &:hover {
    border-color: #69B500;
    .button {
      opacity: 1;
    }
    .catalog-item__like {
      opacity: 1;
    }
    .catalog-item__hover-dropdown {
      opacity: 1;
      pointer-events: all;
      border-color:  #69B500;
    }
  }
  &.wish {
    .item-type {
      bottom: 24px;
      top: unset;
    }
  }
  .remove {
    width: 20px;
    height: 20px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
    right: 15px;
    top: 13px;
    background-size: 12px;
    background-image: url("../img/sprite.svg#close");
  }
  &__check {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1;
    cursor: pointer;
    input {
      display: none;
    }
    input:checked + .check {
      border-color: #69B500;
      background-image: url("../img/sprite.svg#check-2");
    }
    .check {
      background-color: #F5F5F5;
      border: 1px solid #939393;
      display: block;
      border-radius: 3px;
      width: 15px;
      height: 15px;
      background-size: 10px;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  &__like {
    background-color: #F5F5F5;
    border-radius: 5px;
    width: 35px;
    height: 35px;
    position: absolute;
    z-index: 1;
    top: 24px;
    left: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/sprite.svg#cart-like");
    background-size: 24px;
    opacity: 0;
    transition: opacity .3s;
    &:hover, &.active {
      background-image: url("../img/sprite.svg#cart-like-g");
    }
  }
  &__item-img {
    display: block;
    text-decoration: none;
    margin-bottom: 15px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    font-size: 0;
    img {
      width: 100%;
    }
  }
  &__description {
    font-size: 12px;
    line-height: 120%;
    color: #939393;
    margin-bottom: 13px;
  }
  &__title {
    text-decoration: none;
    font-size: 14px;
    line-height: 120%;
    color: #282828;
    display: block;
    margin-bottom: 20px;
    &:hover {
      text-decoration: underline;
    }
  }
  &__info {
    padding: 0 16px 16px;
  }
  .price-wrap {
    .old {
      font-size: 12px;
      line-height: 100%;
      color: #595959;
      white-space: nowrap;
      margin-bottom: 6.5px;
      position: relative;
      display: inline-block;
      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 45%;
        width: 100%;
        height: 1px;
        background: $red-1;
      }
      span {
        font-weight: bold;
        font-size: 14px;
        font-family: $font-family;
      }
    }
    .old + .new {
      color: #F04137;
    }
    .new {
      font-size: 14px;
      line-height: 100%;
      color: #595959;
      white-space: nowrap;
      span {
        font-weight: bold;
        font-size: 20px;
        font-family: $font-family;
      }
    }
  }
  .button {
    padding: 15px 16px 14px;
    opacity: 0;
    transition: all .3s;
    @include point(def-down){
      opacity: 1;
    }
  }
  &__hover-dropdown {
    position: absolute;
    left: -4px;
    top: calc(100% - 4px);
    width: calc(100% + 8px);
    height: auto;
    padding: 16px;
    border: 4px solid transparent;
    border-top: none;
    opacity: 0;
    pointer-events: none;
    transition: border-color .3s;
    border-radius: 0 0 10px 10px;
    z-index: 2;
    background: #fff;
    @include point(def-down){
      position: static;
      opacity: 1;
      pointer-events: all;
      border: none;
      width: 100%;
    }
  }
  .hover-dropdown {
    &__top-line {
      padding-bottom: 18px;
    }
    &__bottom-line {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 10px;
      border-top: 1px solid #F5F5F5;
      .status {
        font-size: 12px;
        &.red {
          color: $red-1;
        }
        &.green {
          color: $green-1;
        }
      }
      .vendor-code {
        font-size: 12px;
        color: #595959;
      }
    }
  }
  .params-item {
    display: flex;
    margin-bottom: 9px;
    &:last-child {
      margin-bottom: 0;
    }
    &__title {
      font-weight: 500;
      font-size: 12px;
      line-height: 120%;
      color: #4F4F4F;
      margin-right: 3px;
      padding-top: 7px;
    }
    &__params-wrap {
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;
    }
  }
}
.color-item {
  margin: 0 3px 6px;
  cursor: pointer;
  input {
    display: none;
  }
  input:checked + .color {
    border: 2px solid #F5F5F5;
    &:after {
      opacity: 1;
    }
  }
  .color {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      right: -3px;
      top: -3px;
      width: 12px;
      height: 12px;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("../img/sprite.svg#check");
      opacity: 0;
    }
  }
}
.size-item {
  margin: 0 3px 6px;
  cursor: pointer;
  input {
    display: none;
  }
  input:checked + .size {
    color: $green-1;
    &:after {
      opacity: 1;
    }
  }
  .size {
    display: block;
    width: 48px;
    height: 30px;
    border: 2px solid #F5F5F5;
    border-radius: 20px;
    position: relative;
    font-weight: bold;
    font-size: 14px;
    color: #595959;
    line-height: 26px;
    text-align: center;
    font-family: $font-family;
    &:after {
      content: '';
      position: absolute;
      right: -3px;
      top: -3px;
      width: 12px;
      height: 12px;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("../img/sprite.svg#check");
      opacity: 0;
    }
  }
}

.item-type {
  position: absolute;
  right: 24px;
  top: 24px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  pointer-events: none;
  align-items: flex-end;
  &__price {
    background: #FF6A00;
  }
  &__new {
    background: #5693E2;
  }
  &__top {
    background: #FFB62A;
  }
  span {
    padding: 6px 8px 5px;
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    border-radius: 30px;
    font-family: $font-family;
  }
}