.catalog-item-big {
  padding: 18px 20px;
  background: #fff;
  border-radius: 10px;
  .item-type {
    left: 20px;
    top: 18px;
    align-items: flex-start;
  }
  &__item-img {
    width: 215px;
    max-width: 100%;
    display: block;
    margin: 0 auto 15px;
    position: relative;
    img {
      width: 100%;
    }
  }
  &__info {
    padding: 0 44px;
    @include point(md-down){
      padding: 0 15px;
    }
  }
  &__description {
    font-size: 14px;
    line-height: 120%;
    color: #939393;
    margin-bottom: 10px;
  }
  &__title {
    font-size: 14px;
    line-height: 120%;
    color: #282828;
    display: block;
    text-decoration: none;
    font-family: $font-family;
    margin-bottom: 66px;
  }
  .button {
    text-transform: uppercase;
    width: 179px;
    display: block;
    margin: 0 auto;
  }
  .price-wrap {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 38px;
    .old {
      font-size: 14px;
      color: #828282;
      position: relative;
      margin: 0 10px;
      &:after {
        content: '';
        position: absolute;
        left: -7px;
        top: 45%;
        width: calc(100% + 14px);
        height: 1px;
        background: #000000;
      }
      span {
        font-family: $font-family;
        font-weight: bold;
        font-size: 20px;
      }
    }
    .new {
      margin: 0 10px;
      font-size: 14px;
      color: #FF6A00;
      position: relative;
      > span {
        font-weight: bold;
        font-size: 30px;
        color: #FF6A00;
        font-family: $font-family;
      }
      .discount {
        position: absolute;
        left: -7px;
        bottom: calc(100% + 6px);
        background:  #FF6A00;
        font-size: 10px;
        padding: 5px 8px;
        color: #FFFFFF;
        border-radius: 3px;
        &:before {
          content: '';
          position: absolute;
          left: 4px;
          top: calc(100% - 8px);
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 8px 6px 8px 0;
          border-color: transparent #ff6a00 transparent transparent;
        }
        > span {
          font-weight: bold;
          font-size: 14px;
          font-family: $font-family;
        }
      }
    }
  }
}