.dropdown-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__content {
    min-width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
    position: relative;
    max-height: 145px;
    transition: max-height .6s;
    overflow: hidden;
    &.open {
      max-height: 1500px;
      &:after {
        opacity: 0;
      }
    }
    &:after {
      transition: opacity .6s;
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 75px;
      z-index: 1;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    }
  }
  &__trigger {
    font-weight: bold;
    font-size: 14px;
    line-height: 120%;
    text-decoration: underline;
    color: #69B500;
    cursor: pointer;
    position: relative;
    padding: 12px 0;
    &.open {
      &:after {
        transform: translateX(-50%) rotate(-90deg);
        bottom: unset;
        top: 0;
      }
    }
    &:hover {
      text-decoration: none;
    }
    &:after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%) rotate(90deg);
      background-position: center;
      background-repeat: no-repeat;
      width: 9px;
      height: 6px;
      background-image: url("../img/sprite.svg#right-arrow");
    }
  }
}
