.catalog-filter.type-2 {
  .filter-box {
    border-bottom: 1px solid transparent;
    &.open {
      border-bottom-color:#F5F5F5;
    }
    &__content {
      padding: 20px 0 20px 0;
    }
  }
}
.filter-box {
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
  .validation-field {
    padding-bottom: 0;
    margin-bottom: 15px;
  }
  &__trigger {
    font-weight: bold;
    font-size: 18px;
    line-height: 120%;
    color: #69B500;
    font-family: $font-family;
    position: relative;
    cursor: pointer;
    padding-right: 15px;
    &.open {
      &:after {
        transform: translateY(-50%) scale(1,1);
      }
    }
    &:after {
      position: absolute;
      content: '';
      right: 0;
      top: 50%;
      transform: translateY(-50%) scale(1,-1);
      width: 10px;
      height: 10px;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("../img/sprite.svg#dropdown-arrow-g");
      transition: transform .3s;
    }
  }
  &__content {
    padding: 20px 0 0 10px;
    > .__vuescroll {
      > .__panel {
        > .__view {
          max-height: 240px;
        }
      }
    }
  }
  &__list {
    margin: 0;
    list-style: none;
    li {
      margin-bottom:15px;
      margin-left: 0;
      &:last-child {
        margin: 0;
      }
    }
    a {
      font-weight: 500;
      font-size: 14px;
      line-height: 120%;
      color: #282828;
      transition: color .3s;
      text-decoration: none;
      &:hover {
        color: #69B500;
      }
      span {
        font-size: 12px;
        line-height: 120%;
        color: #595959;
        display: inline-block;
        margin-left: 10px;
        font-weight: 400;
      }
    }
  }
}
.touch-menu {
  > .__vuescroll {
    > .__panel {
      > .__view {
        text-align: left;
        padding: 25px 0;
        max-height: 100vh;
        > .filter-box {
          margin-left: 20px;
          margin-right: 20px;
        }
      }
    }
  }
}