.modal {
  &__content {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    padding: 40px 25px 30px;
    border-radius: 10px;
    z-index: 10;
    min-width: 450px;
    max-width: calc(100% - 30px);
    max-height: 100vh;
    text-align: center;
    @include point(def-down){
      min-width: 345px;
    }
    &.tight {
      min-width: 345px;
      max-width: 345px;
      .button {
        width: 100%;
      }
    }
    .cart-item {
      padding-left: 0;
      padding-right: 0;
      text-align: left;
      &__info {
        flex-grow: 1;
      }
    }
    .validation-field {
      text-align: left;
    }
  }
  &__close {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/sprite.svg#close");
    background-size: 12px;
    cursor: pointer;
    transition: opacity .3s;
    &:hover {
      opacity: 0.5;
    }
  }
  &__title {
    font-weight: bold;
    font-size: 20px;
    font-family: $font-family;
    line-height: 120%;
    text-align: center;
    color: #282828;
    margin-bottom: 30px;
  }
}
.buy-info {
  display: flex;
  align-items:baseline;
  margin: 18px 0 30px;
  justify-content: center;
  text-align: center;
  &__title {
    font-size: 14px;
    line-height: 120%;
    color: #595959;
  }
  &__summ {
    font-size: 12px;
    line-height: 100%;
    color: #595959;
    span {
      font-weight: bold;
      font-size: 14px;
      line-height: 100%;
      color: #595959;
      font-family: $font-family;
    }
  }
}
.vc-container {
  --day-content-bg-color-focus: #65B016!important;
  --day-content-bg-color-hover: #65B016!important;
  --day-content-dark-bg-color-hover: #65B016!important;
  --day-content-dark-bg-color-focus: #65B016!important;
}
.vc-bg-green-600 {
  background-color: #65B016!important;
}
.vc-day-content:hover {
  color: #fff;
}
.max-width {
  margin: 0 -25px -30px;
  padding: 0 25px 30px;
  background-color: #F5F5F5;
  border-radius: 10px;
}
.sex-radio {
  margin: 0 -25px 30px;
  display: flex;
  background-color: #fff;
  &__title {
    background-color: #fff;
    width: 100%;
    padding: 22px 0;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 100%;
    color: #939393;
    font-family: $font-family;
    display: block;
  }
  &__item {
    min-width: 50%;
    max-width: 50%;
    text-align: center;
    cursor: pointer;
    input {
      display: none;
    }
    input:checked + .sex-radio__title {
      background-color: #F5F5F5;
      color: #69B500;
    }
    &:first-child {
      .sex-radio__title {
        border-radius: 10px 10px 0px 0px;
      }
    }
    &:last-child {
      .sex-radio__title {
        border-radius: 10px 10px 0px 0;
      }
    }
  }
}