.order-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 2px solid #F5F5F5;
  @include point(md-down){
    flex-direction: column;
    text-align: center;
    padding: 10px;
  }
  &__item-img {
    min-width: 100px;
    max-width: 100px;
    margin-right: 20px;
    @include point(md-down){
      margin: 0 0 10px 0;
    }
    img {
      max-width: 100%;
    }
  }
  &__info {
    min-width: 50%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: auto;
    @include point(md-down){
      margin: 0 0 10px 0;
      min-width: 100%;
      max-width: 100%;
      align-items: center;
    }
  }
  &__top-info {
    font-size: 12px;
    line-height: 120%;
    color: #939393;
    margin-bottom: 18px;
  }
  &__title {
    font-size: 14px;
    line-height: 120%;
    color: #282828;
    text-decoration: none;
    font-family: $font-family;
    margin-bottom: 20px;
    @include point(md-down){
      margin-bottom: 14px;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  &__bottom-info {
    font-size: 12px;
    line-height: 120%;
    color: #4F4F4F;
    span {
      display: inline-block;
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__count {
    font-size: 14px;
    line-height: 120%;
    font-weight: 700;
    font-family: $font-family;
    color: #595959;
    margin: 0 auto;
    @include point(md-down){
      margin: 0 0 10px 0;
      min-width: 100%;
      max-width: 100%;
    }
  }
  &__price {
    font-size: 14px;
    color: #282828;
    margin-left: auto;
    @include point(md-down){
      margin: 0;
      min-width: 100%;
      max-width: 100%;
    }
    span {
      font-weight: bold;
      font-size: 20px;
      font-family: $font-family;
      color: #282828;
    }
  }
}