.pagination {
  display: flex;
  justify-content: center;
  margin: 0;
  list-style: none;
  li {
    margin: 0 5px;
    padding: 0;
    &.prev, &.next {
      a {
        background: #F5F5F5;
        position: relative;
        &:after {
          content: '';
          position: absolute;
          left: 50%;
          bottom: 50%;
          width: 16px;
          height: 16px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          background-image: url("../img/sprite.svg#right-arrow-gray");
          transform-origin: center center;
        }
      }
    }
    &.prev {
      margin-right: 55px;
      @include point(md-down){
        margin-right: 5px;
      }
      a {
        &:after {
          transform: translate(-50%, 50%) scale(-1,1);
        }
      }
    }
    &.next {
      margin-left: 55px;
      @include point(md-down){
        margin-left: 5px;
      }
      a {
        &:after {
          transform: translate(-50%, 50%);
        }
      }
    }
    &:hover, &.active {
      &.prev {
        a {
          &:after {
            background-image: url("../img/sprite.svg#right-arrow-w");
          }
        }
      }
      &.next {
        a {
          &:after {
            background-image: url("../img/sprite.svg#right-arrow-w");
          }
        }
      }
      a {
        background: #69B500;
        color: #fff;
      }
    }
  }
  a {
    display: block;
    width: 45px;
    height: 45px;
    line-height: 48px;
    text-decoration: none;
    text-align: center;
    border-radius: 50%;
    background: #F5F5F5;
    font-weight: bold;
    font-family: $font-family;
    font-size: 14px;
    color: #282828;
    transition: background .3s;
  }
}
.load-more {
  text-decoration: none;
  padding: 15px 24px 13px;
  border-radius: 30px;
  margin-bottom: 30px;
  display: inline-block;
  vertical-align: middle;
  background: #F5F5F5;
  transition: all .3s;
  color: #282828;
  font-weight: bold;
  font-size: 14px;
  font-family: $font-family;
  text-transform: uppercase;
  &:hover {
    background: #69B500;
    color: #fff;
  }
}
.pagination-wrap {
  text-align: center;
  margin: 70px 0 0;
}