.phone-box {
  margin-right: 58px;
  margin-left: auto;
  @include point(lg-def){
    margin-right: 30px;
  }
  &__top-line {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
  }
  .phone {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: #009F00;
    margin-right: 10px;
    font-family: $font-family;
  }
  .circle-item {
    width: 20px;
    height: 20px;
    display: block;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-position: center;
    &.viber {
      background-image: url("../img/sprite.svg#circle-viber");
    }
    &.whatsapp {
      background-image: url("../img/sprite.svg#circle-whatsapp");
    }
    &.telegram {
      background-image: url("../img/sprite.svg#circle-telegram");
    }
    &:last-child {
      margin-right: 0;
    }
  }
  .callback {
    font-size: 14px;
    line-height: 100%;
    text-decoration-line: underline;
    color: #414141;
    &:hover {
      text-decoration: none;
    }
  }
}