.search-wrap {
  width: 419px;
  margin: 0 auto;
  transition: width .3s;
  position: absolute;
  z-index: 1;
  left: 292px;
  top: 50%;
  transform: translateY(-50%);
  @include point(xl-lg){
    width: 320px;
  }
  @include point(lg-def){
    left: 182px;
    width: 272px;
  }
  &.focused {
    width: 725px;
    @include point(xl-lg){
      width: 605px;
    }
    @include point(lg-def){
      width: 535px;
    }
  }
  .all-results-wrap {
    padding: 20px 0 10px;
    display: flex;
    align-items: center;
    .all-results {
      font-weight: bold;
      font-size: 14px;
      line-height: 120%;
      font-family: $font-family;
      margin-right: 10px;
    }
    .count {
      font-size: 12px;
      line-height: 120%;
      color: #595959;
    }
  }
  &__results {
    position: absolute;
    z-index: 1;
    left: 23px;
    top: 100%;
    width: calc(100% - 46px);
    height: auto;
    background: #fff;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,.1);
    .__view {
      max-height: 450px;
    }
    .similar {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 20px;
      }
      a {
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
        color: #282828;
        text-decoration: none;
        display: inline-block;
        vertical-align: middle;
        margin-right: 8px;
        &:hover {
          color: $green-1;
        }
      }
      .count {
        display: inline-block;
        vertical-align: middle;
        font-size: 12px;
        line-height: 120%;
        color: #595959;
      }
    }
  }
  .result {
    padding: 15px 0;
    display: flex;
    align-items: center;
    margin-right: 30px;
    border-bottom: 1px solid #F5F5F5;
    &:first-child {
      border-top: 1px solid #F5F5F5;
    }
    &__item-img {
      width: 45px;
      height: 45px;
      position: relative;
      margin-right: 25px;
      flex-shrink: 0;
      img {
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
      }
    }
    &__info {
      display: flex;
      flex-direction: column;
    }
    &__info__title {
      text-decoration: none;
      font-size: 12px;
      line-height: 100%;
      color: #282828;
      margin-bottom: 5px;
      font-family: $font-family;
    }
    &__info__params {
      font-size: 12px;
      line-height: 120%;
      color: #4F4F4F;
    }
    &__price {
      margin-left: auto;
      font-family: $font-family;
      .old {
        font-size: 12px;
        line-height: 100%;
        color: #595959;
        white-space: nowrap;
        margin-bottom: 6.5px;
        position: relative;
        display: inline-block;
        &:after {
          content: '';
          position: absolute;
          left: 0;
          top: 45%;
          width: 100%;
          height: 1px;
          background: $red-1;
        }
        span {
          font-weight: bold;
          font-size: 14px;
        }
      }
      .old + .new {
        color: #F04137;
      }
      .new {
        font-size: 14px;
        line-height: 100%;
        color: #595959;
        white-space: nowrap;
        span {
          font-weight: bold;
          font-size: 20px;
        }
      }
    }
  }
  .search {
    border-radius: 60px;
    border: 2px solid #F5F5F5;
    position: relative;
    input {
      padding: 16px 22px;
      font-size: 14px;
      line-height: 100%;
      color: $dark-1;
      border-radius: 60px;
      border: none;
      font-family: $font-family-alt;
      width: 100%;
      &::placeholder {
        color: #939393;
      }
    }
    &__sumbit {
      width: 39px;
      height: 39px;
      border-radius: 50%;
      background: #F5F5F5;
      position: absolute;
      right: 7px;
      top: 50%;
      cursor: pointer;
      transition: background .3s;
      transform: translateY(-50%);
      &:hover {
        background: $green-2;
        &:after {
          background-image: url("../img/sprite.svg#search-w");
        }
      }
      &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 14px;
        height: 14px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../img/sprite.svg#search");
        pointer-events: none;
      }
      input {
        display: none;
      }
    }
  }
}