.slider-arrows-top {
  padding-top: 80px;
  margin-top: -80px;
  @include point(md-down){
    padding-top: 80px;
    margin-top: -60px;
  }
  > .swiper-button-next {
    @include point(md-up){
      transform: translate(0,0);
      top: 0;
      &:after {
        transform: none;
      }
    }

  }
  > .swiper-button-prev {
    @include point(md-up){
      transform: translate(0,0) rotate(180deg);
      top: 0;
      right: 32px;
      left: unset;
      &:after {
        transform: none;
      }
    }

  }
  .all-link {
    font-weight: bold;
    font-size: 14px;
    line-height: 120%;
    color: #69B500;
    position: absolute;
    right: 80px;
    font-family: $font-family;
    top: 8px;
    @include point(md-down){
      right: 0;
      top: 40px;
    }
  }
}