.social {
  display: flex;
  a {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
    margin-right: 10px;
    overflow: hidden;
    &:last-child {
      margin-right: 0;
    }
    .icon {
      display: block;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      z-index: 1;
      transition: backgroun-image .3s;
    }
    &.inst {
      .icon {
        background-image: url("../img/sprite.svg#inst");
        width: 20px;
        height: 20px;
      }
      &:hover {
        .icon {
          background-image: url("../img/sprite.svg#inst-h");
        }
        &:before {
          opacity: 0;
        }
        &:after {
          opacity: 1;
        }
      }
      &:before {
        background: linear-gradient(180deg, #4C33D9 0%, #DC1F8D 32.95%, #E2806B 67.86%, #F7B159 100%);
      }
      &:after {
        background: #fff;
      }
    }
    &.fb {
      .icon {
        width: 20px;
        height: 20px;
        background-image: url("../img/sprite.svg#fb");
      }
      &:hover {
        .icon {
          background-image: url("../img/sprite.svg#fb-h");
        }
        &:before {
          opacity: 0;
        }
        &:after {
          opacity: 1;
        }
      }
      &:before {
        background: #32599D;
      }
      &:after {
        background: #fff;
      }
    }
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transition: opacity .3s;
      opacity: 0;
    }
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transition: opacity .3s;
    }
  }
}
.share-wrap {
  display: flex;
  align-items: center;
  .share-item {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
    margin-right: 10px;
    overflow: hidden;
    .icon {
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      position: absolute;
      width: 24px;
      height: 24px;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("../img/sprite.svg#share");
    }
  }
}