.opacity-transition-enter-active, .opacity-transition-leave-active {
  opacity: 1;
  pointer-events: all;
  transition: all .3s;
}
.opacity-transition-enter, .opacity-transition-leave-to {
  opacity: 0;
  pointer-events: none;
}


.left-enter-active, .left-leave-active {
  transform: translateX(0);
  transition: all .6s;
}
.left-enter, .left-leave-to {
  transform: translateX(-100%);
}

.top-enter-active, .top-leave-active {
  transform: translateY(0);
  transition: all .6s;
}
.top-enter, .top-leave-to {
  transform: translateY(-100%);
}