.validation-field {
  min-width: 100%;
  max-width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
  padding-bottom: 15px;
  cursor: pointer;
  &._f {
    display: flex;
  }
  &.check-wrapper {
    display: flex;
    align-items: center;
  }
  &.select-wrapper {
    input {
      margin: 0;
      font-family: $font-family-alt;
      height: 45px;
      border-radius: 30px;
      border: 2px solid #F5F5F5;
    }
    .vs__dropdown-toggle{
      padding: 0;
    }
  }
  .input-title {
    font-weight: 500;
    font-size: 14px;
    color: #282828;
    span {
      font-weight: 400;
      font-size: 12px;
      color: #595959;
      margin-left: 10px;
      display: inline-block;
    }
  }
  .radio {
    background: #F5F5F5;
    border: 1px solid #939393;
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 10px;
    transition: all;
    flex-grow: 0;
    flex-shrink: 0;
  }
  input:checked + .radio {
    background: #69B500;
    border: 2px solid #fff;
  }
  .check {
    background-color: #F5F5F5;
    border: 1px solid #939393;
    display: block;
    border-radius: 3px;
    width: 15px;
    height: 15px;
    background-size: 10px;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 10px;
    flex-grow: 0;
    flex-shrink: 0;
  }
  input:checked + .check {
    border-color: #69B500;
    background-image: url("../img/sprite.svg#check-2");
  }
  &.error {
    input, textarea {
      border-color: $red-1;
      background: #FFEDEC;
    }
  }
  input {
    width: 100%;
    font-size: 14px;
    color: $dark-1;
    transition: border-color .3s, background .3s;
    background: #FFFFFF;
    height: 45px;
    padding: 0 22px;
    border: 2px solid #F5F5F5;
    border-radius: 60px;
    font-family: $font-family-alt;
    &::placeholder {
      color: #939393;
      font-size: 14px;
    }
    &:focus {
      box-shadow: none!important;
    }
    &[type='radio']{
      display: none;
    }
    &[type='checkbox']{
      display: none;
    }
  }
  textarea {
    padding: 15px 20px;
    background: #fff;
    width: 100%;
    color: $dark-1;
    transition: border-color .3s, background .3s;
    font-family: $font-family-alt;
    border: 2px solid #F5F5F5;
    border-radius: 10px;
    resize: none;
    font-size: 14px;
  }
  .error {
    font-size: 12px;
    line-height: 15px;
    color: $red-1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-left: 19px;
    white-space: nowrap;
  }
}
