.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  background: #fff;
  transform: translate(-50%, -50%);
  width: 380px;
  height: auto;
  z-index: 10;
  padding: 36px;
  border-radius: 3px;
  text-align: center;
  max-width: calc(100% - 20px);
  &:after{
    content: '';
    position: absolute;
    left: 4px;
    top: 4px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    border:1px solid #EEF0F1;
    border-radius: 3px;
    pointer-events: none;
  }
  .validation-field {
    text-align: left;
  }
  .close {
    position: absolute;
    cursor: pointer;
    width: 12px;
    height: 12px;
    right: 13px;
    top: 13px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/sprite.svg#close");
    transition: background-image .3s;
    &:hover {
      background-image: url("../img/sprite.svg#close-r");
    }
  }
  .button {
    width: 262px;
  }
  ._f {
    margin-bottom: 20px;
  }
  //.social-box {
  //  padding-top: 20px;
  //  &__title {
  //    font-weight: 600;
  //    font-size: 14px;
  //    line-height: 17px;
  //    color: #505050;
  //    margin-bottom: 10px;
  //  }
  //  .social {
  //    justify-content: center;
  //    margin-bottom: 0;
  //    a {
  //      margin: 0 10px;
  //      background: #939699;
  //      &.inst {
  //        &:after {
  //          background-image: url(../img/sprite.svg#inst-w);
  //        }
  //      }
  //      &.fb {
  //        &:after {
  //          background-image: url(../img/sprite.svg#fb-w);
  //        }
  //      }
  //    }
  //  }
  //}
  .form-decor-img {
    margin-bottom: 32px;
  }
  .checkbox-title {
    text-align: left;
  }
  .forget {
    font-size: 12px;
    line-height: 15px;
    text-decoration: none;
    color: #18191A;
    margin-bottom: 16px;
  }
  .nav-tabs {
    display: flex;
    margin-bottom: 35px;
    li {
      flex-grow: 1;
      width: 50%;
      text-align: center;
      border-bottom: 2px solid #C5C7CB;
      transition: border-bottom-color .3s;
      &.active {
        border-bottom-color: $green;
        a {
          color: $green;
        }
      }
    }
    a {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: #505050;
      text-decoration: none;
      transition: color .3s;
      display: block;
      padding: 8px 4px;
    }
  }
}