.event-detail-wrap {
  .nav-tabs-wrapper {
    .nav-tabs {
      display: flex;
      border-bottom: 2px solid #E0E2E4;
      li {
        &.active {
          a {
            color: $dark-1;
            &:after {
              opacity: 1;
            }
          }
        }
      }
      a {
        transition: color .3s;
        display: block;
        padding: 13px;
        text-decoration: none;
        color: $dark-2;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        position: relative;
        &:after {
          content: '';
          position: absolute;
          left: 0;
          top: 100%;
          width: 100%;
          height: 2px;
          border-radius: 2px;
          background-color: $dark-1;
          opacity: 0;
          transition: opacity .3s;
        }
      }
    }

  }
  .tab-content {
    padding: 34px 0;
  }
}
