html,
body {
  height                  : 100%;
  -webkit-text-size-adjust: 100%;

}

body {
  position        : relative;
  width           : 100vw;
  max-width       : 100%;
  background-color: $background-color;
  font-family     : $font-family-alt;
  font-size       : $font-size-paragraph;
  color           : $paragraph-color;
  &.fixed {
    position: fixed;
  }
  #app {
    display         : flex;
    flex-direction  : column;
    height                  : 100%;
  }
  .wrap {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
  }
}
.content {
  padding: 30px 0;
  flex-grow: 1;
}
ul:not([class]),
ol:not([class]) {
  list-style-position: outside;
  margin-bottom      : 25px;

  li:not([class]) {
    margin-bottom: 15px;
    margin-left  : 15px;
    font-size    : $font-size-paragraph;
    line-height  : 1.2;
    color        : $dark-1;
    font-weight  : 400;
  }
}

@if ($list-image==true) {
  ul {
    list-style-image: url("../img/img/list.png");
  }
}

a {
  color : $link-color;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }

  img {
    border: none;
  }
}

@include heading();

p {
  font-size  : $font-size-paragraph;
  line-height: $paragraph-height;
  color      : $paragraph-color;
  margin-bottom: $paragraph-margin;
  font-weight: 400;
  &:last-child {
    margin-bottom: 0;
  }
}
.text-center {
  text-align: center;
}

button {
  cursor: pointer;
}

input[type="submit"] {
  font-family       : $font-family-validation;
  outline           : none;
  cursor            : pointer;
  line-height       : 1.3;
  -webkit-appearance: none;
  -moz-appearance   : none;
}

textarea,
input,
select {
  font-family: $font-family-validation;
}



li {
  position       : relative;
  //list-style     : none;
  text-decoration: none;
  font-size      : $font-size-paragraph;
}

.attention {
  display: none;
}

html[data-useragent*='MSIE 10.0'] {
  body * {
    display: none !important;
  }

  .attention img {
    display: block !important;
    margin : 0 auto 30px;
  }

  .attention {
    display       : block !important;
    padding-top   : 15%;
    font-size     : 60px;
    font-weight   : 700;
    text-transform: uppercase;
    text-align    : center;
  }
}

[v-cloak] {
  display: none;
}