//Media breakpoints
$points: (
        st: 320,
        xs: 375,
        psw: 412,
        sm: 480,
        ms: 640,
        md: 798,
        def: 1024,
        lg: 1280,
        xl: 1366,
        mg: 1440,
        hd: 1720,
        dt: 1980
);

// COLORS
$red-1: #F04137;  //error
$red-2: #CC1208;  //red hover
$grey: #939393;  // fields
$blue: #006CCF; //links
$green-1: #65B016; // buttons
$green-2: #009F00; // green hover
$dark-1: #282828;
$dark-2: #595959;


//Font families
$font-family: 'Balsamiq Sans', cursive;
$font-family-alt: 'Roboto', sans-serif;
$font-style: normal;

//PARAGRAPH STYLES
$paragraph-margin: 20px; //margin-bottom
$font-size-paragraph: 14px;
$paragraph-height: 140%;
$paragraph-color: $dark-2;

//HEADINGS STYLES
$font-family-headings: $font-family;
$heading-margin: 50, 50, 40, 40, 30, 30;
$heading-font-size: 30, 25, 23, 21, 19, 16;
$heading-font-weight: 700,700,700,400,400,400; // 1 = "normal"(400)
$heading-uppercase: 0,0,0,0,0,0; // 0 = "none", 1 = "uppercase"
$heading-text-align: l,l,l,l,l,l; // c = "center", l = "left", r = "right"
$heading-color: $dark-1;
$heading-font-style: normal;

// MD Heading sizes (prefix from points)
$md-heading-change: true;
$md-heading-margin: 30, 30, 25, 20, 18, 15;
$md-heading-font-size: false, false, false, false, false, false;


$list-image: true;  //list.png
$background-color: #FFF;
$link-color: $blue;
$link-hover-color: $blue;

//Tables default styles
$table-margin: 40px;
$table-border-color: #d6d6d6;
$table-fz: $font-size-paragraph;
$table-color: #3c3c3c;
$table-heading-color: false;

//FORMS
$font-family-validation: $font-family;

//$input-height: 45px;
//$input-indent-left: 10px;
//$input-fz: $font-size-paragraph;
//$input-border: 1px; // 1px || false
//$input-border-bottom: 1px;
//$input-border-radius: 0; // 1px || false
//$input-border-color: $dark-1;
//$input-border-hover: $dark-1;
//$input-border-focus: $dark-1;
//$input-color: $dark-1;
//$input-placeholder-color: $dark-1;
//$input-placeholder-fz-filled: 14px;
//$input-bg: transparent;
//
//$select-arrow-indent-right: 10px;
//$select-arrow-width: 14px;
//$select-arrow-height: 8px;
//$select-arrow-icon: url("../img/sprite.svg#b-arrow");
//
//$select-option-padding: 4px 10px;
//$select-option-fz: $font-size-paragraph;
//$select-option-bg: $input-bg;
//$select-option-hover-bg: $dark-1;
//$select-option-hover-color: #fff;
//$select-option-selected-bg: $dark-1;
//$select-option-selected-color: #fff;
//
//$select-dropdown-bg: #fff;
//$select-dropdown-border-radius: false; // 1px || false
//$select-dropdown-border: false; // 1px || false
//$select-dropdown-color: $dark-1;
//
//$checkbox-size: 17px;
//$checkbox-border-size: 1px;
//$checkbox-border-color: $dark-1;
//$checkbox-border-radius: 4px;
//$checkbox-icon: url("../img/icons-png/checkbox-c-check.png#checked");
//$checkbox-icon-width: 15px;
//$checkbox-title-fz: $font-size-paragraph;
