.container {
  position     : relative;
  margin-right : auto;
  margin-left  : auto;
  padding-left : 30px;
  padding-right: 30px;
  width        : 1320px;

  @include point(xl-lg) {
    width: 1200px;
    padding-left : 30px;
    padding-right: 30px;
  }
  @include point(lg-def) {
    width: 990px;
    padding-left : 30px;
    padding-right: 30px;
  }
  @include point(def-md) {
    width: 750px;
    padding-left : 30px;
    padding-right: 30px;
  }

  @include point(md-sm) {
    width        : 450px;
    padding-left : 16px;
    padding-right: 16px;
  }

  @include point(sm-down) {
    width        : 375px;
    padding-left : 16px;
    padding-right: 16px;
    max-width: 100%;
  }

}
.container-small {
  width: 860px;
  margin: 0 auto;
  max-width: 100%;
  padding: 0 30px;
  @include point(def-md) {
    width: 750px;
    padding-left : 30px;
    padding-right: 30px;
  }

  @include point(md-sm) {
    width        : 450px;
    padding-left : 16px;
    padding-right: 16px;
  }

  @include point(sm-down) {
    width        : 375px;
    padding-left : 16px;
    padding-right: 16px;
  }
}

.column-25 {
  width: 25%;
}

.column-33 {
  width: 33.3333%;
}

.column-35 {
  width: 35%;
}

.column-40 {
  width: 40%;
}

.column-50 {
  width: 50%;
}

.column-60 {
  width: 60%;
}

.column-66 {
  width: 66.666%;
}

.w-100 {
  width: 100%;
}