._f {
  display: flex;
}

._f-column {
  display: flex;
  flex-direction: column;
}

._f-wrap {
  flex-wrap: wrap;
}

._i-start {
  align-items: flex-start;
}

._i-center {
  align-items: center;
}

._i-end {
  align-items: flex-end;
}

._i-base {
  align-items: baseline;
}

._j-around {
  justify-content: space-around;
}

._j-between {
  justify-content: space-between;
}

._j-center {
  justify-content: center;
}

._j-end {
  justify-content: flex-end;
}

._no-shrink {
  flex-shrink: 0;
}

._hidden {
  display: none!important;
}

._hidden-md-down {
  @include point(md-down){
    display: none;
  }
}

._hidden-md-up {
  @include point(md-up){
    display: none;
  }
}

._overflow-wrap {
  overflow-y: hidden;
  overflow-x: auto;
}

._trans-c {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

._img-c {
  @include img;
}

._clearfix:before, ._clearfix:after {
  content: " ";
  display: table;
}

._clearfix:after {
  clear: both;
}

._text-c {
  text-align: center;
}

._text-l {
  text-align: left;
}

._text-r {
  text-align: right;
}

._tdn {
  text-decoration: none;
}

._fw-n {
  font-weight: 400;
}

._fw-m {
  font-weight: 500;
}

._fw-b {
  font-weight: 700;
}

._fz-8 {
  font-size: 8px;
}

._fz-12 {
  font-size: 12px;
}

._fz-14 {
  font-size: 14px;
}

._fz-16 {
  font-size: 16px;
}

._fz-18 {
  font-size: 18px;
}

._fz-20 {
  font-size: 20px;
}

._fz-22 {
  font-size: 22px;
}

._color-text {
  color: $dark-1;
}

._mtb-auto {
  margin-top: auto;
  margin-bottom: auto;
}

._mlr-auto {
  margin-left: auto;
  margin-right: auto;
}

._ml-auto {
  margin-left: auto;
}

._mr-auto {
  margin-right: auto;
}

._m-none {
  margin: 0;
}

._mb-15 {
  margin-bottom: 15px;
}

._mb-20 {
  margin-bottom: 20px;
}

._mb-25 {
  margin-bottom: 25px;
}
._mb-30 {
  margin-bottom: 30px;
}
._mb-110 {
  margin-bottom: 110px;
}

._p-rel {
  position: relative;
}

._bg-icon {
  background-repeat: no-repeat;
  background-position: 50%;
  font-size: 0;
  cursor: pointer;
}

._bg-w {
  background-color: #fff;
}

.object-fit {
  background-size: cover;
  background-position: center center;
  &.compat-object-fit {
    &>img {
      opacity:0;
    }
  }
  &>img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

._list-numbered {
  list-style-position: inside;
  list-style-type: decimal;
}

